$column: 30px;
$gutter: 5px;
$grid-columns: 12;
$max-width: 420px;

@mixin icon {
	.left-inner-addon {
	    position: relative;
	}
	.left-inner-addon input {
	    padding-left: 45px; 
	    background-color: #f2f2f2;
	}
	.left-inner-addon i {
	    position: absolute;
	    padding: 10px 12px;
	    pointer-events: none;
	    margin: 15px 0px 0px 5px;
	}
}

.form2 {
	background-size: 1333px 800px;
	background-image: url('../images/drvo.jpg');
}

.formtwo{
	.formcont {
		@include outer-container;
		background-color: #ffffff;
		margin-top: 150px;
		border-radius: 5px;
		color: #999999;
		.header {
			height: 50px;
			text-align: center;
			padding-top: 15px;
			background-color: #f3f3f3;
			@include linear-gradient(#f9f9f9 0%, #f0f0f0 100%);
			background-repeat: repeat-x;
			border-bottom: 3px solid #e6e6e6;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
			font: {
				size: 20px;
				weight: bold;
			}
		}
		.form {
			@include outer-container;
			margin: 0px 40px;
			.in1 {
				margin-top: 30px;
				@include icon;
				.left-inner-addon input {
				    border-bottom-left-radius: 0px;
				    border-bottom-right-radius: 0px;
				}
			}
			.in2 {
				margin-top: -21px;
				@include icon;
				.left-inner-addon input {
				    border-top-left-radius: 0px;
				    border-top-right-radius: 0px;
				}
			}
		}
			.pass{
				border-top-left-radius: 0px;
				border-top-right-radius: 0px;
				margin-top: -10px;
				background-color: #f1f3f2;
			}
			.det {
				@include outer-container;
				margin-top: 40px;
				.abc {
					@include span-columns(6);
					font-weight: bold;
					.range {
						width: 50px;
					}
				}
				.details {
					font-weight: bold;
					float: right;
				}
			}

			button {
				@include size(340px 50px);
				background-color: #329e91;
				border-radius: 5px;
				color: #ffffff;
				margin: 40px 0px;
				font: {
					size: 18px;
					weight: bold;
				}
			}
		}
	}