$column: 70px;
$gutter: 20px;
$grid-columns: 12;
$max-width: 1060px;

@mixin logo {
	style: italic;
	color: #9DBDBD;
}

@mixin ftext {
	text-align: center;
	padding: 35px 45px;
}

@mixin btn2 {
	@include size(70px 40px);
	background-color: #47DAB5;
}

.progress {
	background-color: #ffffff;

.header {
	width: 100%;
	background-color: white;
	.head {
		@include outer-container;
		.logo {
			@include span-columns(6);
			padding-top: 15px;
			img	{
				@include size(35px 40px);
				float: left;
			}
			h1 {
				font: {
					@include logo;
					size: 30px;
				}
			}
			.phead {
				font: {
					@include logo;
					size: 8px;
				}
				margin-top: -10px;
			}
		}
		.nav {
			@include span-columns(6);
			font: {
				size: 10px;
			}
			float: right;
			padding-top: 20px;
			ul {
				list-style-type: none;
				float: right;
				li {
					float: left;
					margin-left: 10px;
					font: {
						color: #9DBDBD;
						style: italic;
					}
					.selected {
						background-color: #66E0A3;
					}
				}
			}
		}
	}
}

.picstretch {
	@include size(auto 450px);
	background-image: url('../images/progress2.jpg');
	background-size: 1333px 450px;
	.control {
		@include outer-container;
		.left {
			@include span-columns(6);
			margin-top: 200px;
		}
		.right {
			@include span-columns(6);
			float: right;
			margin-top: 200px;
			.icon-chevron-right {
				float: right;
			}
		}
	}
	.block {
		@include outer-container;
		.bl {
			@include span-columns(4);
			background-color: #47DAB5;
			text-align: left;
			font-style: italic;
			padding: 5px 0 0 15px;
			margin-top: 110px;
			color: #ffffff;
			.pblock {
				margin-top: -20px;
				font: {
					size: 10px;
				}
			}
		}
	}
}

.first {
	@include outer-container;
	margin-top: 30px;
	.f1 {
		@include span-columns(4);
		height: 380px;
		background-color: #47DAB5;
		@include ftext;
		color: #ffffff;
		.btn1 {
			@include size(70px 40px);
			background-color: #ffffff;
		}
	}
	.f2 {
		@include span-columns(4);
		@include ftext;
		.btn2 {
			@include btn2;
		}
	}
	.f3 {
		@include span-columns(4);
		@include ftext;
		.btn2 {
			@include btn2;
		}
	}
}

.second {
	@include outer-container;
	margin-top: 30px;
	background-color: #e2e2e2;
	.s1 {
		@include span-columns(4);
		padding: 20px 15px;
		margin-top: 20px;
		ul {
			list-style-type: none;
			font-size: 12px;
			margin: 40px 0 0 -40px;
			line-height: 2em;
		}
		.btn2 {
			@include btn2;
			margin-top: 30px;
		}
	}
	.s2 {
		@include span-columns(4);
		@include omega();
		padding: 20px 15px;
		margin-top: 20px;
		.divs2 {
			margin-top: 25px;
			.h3s2 {
				font-style: italic;
			}
			img {
				@include size (80px 80px);
				float: left;
			}
			.ps2 {
				font-size: 12px;
				margin-top: -15px;
			}
		}
	}
	.s3 {
		@include span-columns(4);
		@include omega();
		background-color: #ffffff;
		padding: 20px 15px;
		margin: 20px 0;
		font-style: italic;
		img {
			@include size(300px 130px);
		}
		.ps3 {
			font-size: 14px;
		}
	}
}

.third {
	@include outer-container();
	.box {
		@include span-columns(6);
		@include omega();
		height: 100px;
		margin-top: 25px;
		padding: 10px 20px;
		img {
			@include size(60px 60px);
			float: left;
		}
		.h5b {
			margin-top: -10px;
		}
		.pb {
			font-size: 14px;
			margin-top: -15px;
		}

	}
}

.footer {
	@include outer-container;
	border-top: 5px solid #e6e6e6;
	.foot {
		@include span-columns(3);
		.h5f {
			font-style: italic;
			border-bottom: 1px solid #e2e2e2;
		}
		ul {
			list-style-type: none;
			margin-left: -30px;
			font: {
				size: 11px;
				color: #e6e6e6;
			}
		}
	}
}

}
