---
title: Attributes - Manipulation
---

<script type="text/javascript" src="../jquery-1.11.0.js"></script> <!-- reference jquery -->
<script type="text/javascript">
	$("document").ready(function() {
		// $("a").attr("target","_blank");

		// $("a").removeAttr("href");

		$("img").attr({src:"../images/img.jpg" alt:"img"});
	});
</script>
<style type="text/css">
	img {
		margin: 40px;
		width: 400px;
		height: 400px;
	}
</style>


<a href="../images/bubble.jpg"> <img src="../images/bubble.jpg" alt="image"></a>