---
title: Child, Visible and Content Filters
---

<script type="text/javascript" src="../jquery-1.11.0.js"></script> <!-- reference jquery -->
<script type="text/javascript">
	$("document").ready(function() {
		// $("p:contains(3)").css("border","3px solid red");
		// $("p:parent").css("border","3px solid red");
		// $("ul li:nth-child(3)").css("border","3px solid red");
		// $("ul li:last-child").css("border","3px solid red");
		$("ul li:nth-child(2n)").css("border","3px solid red");
	});
</script>
<style type="text/css">
	.a {
		color: Navy;
	}
	.b {
		color: Maroon;	
	}
</style>


<ul id="list1">
	<li class="a">item 1</li>
	<li class="a">item 2</li>
	<li class="b">item 3</li>
	<li class="b">item 4</li>
</ul>
<p class="a">This is paragraph 1</p>
<p id="para1">This is paragraph 2</p>
<p class="b">This is paragraph 3</p>
<p id="para4" lang="en-us">This is paragraph 4</p>