---
title: Show - Hide
---

<script type="text/javascript" src="../jquery-1.11.0.js"></script> <!-- reference jquery -->
<script type="text/javascript">
	$(function() {
		$("#fadein").click(function() {
			$("#theDiv").fadeIn("normal");
		});
		$("#fadeout").click(function() {
			$("#theDiv").fadeOut("normal");
		});
		// $("#fadeout").click(function() {
		// 	$("#theDiv").fadeOut(4000, function() {
		// 		alert("done fading out");
		// 	});
		// });
		$("#fadeto3").click(function() {
			$("#theDiv").fadeTo("slow", 0.3);
		});
		$("#fadeup").click(function() {
			$("#theDiv").fadeTo("slow", 1.0);
		});
	});	
</script>
<style type="text/css">
	#theDiv {
		width: 250px;
		height: 180px;
		margin: 10px;
		padding: 20px;
		background-color: blue;
		border: 2px solid black;
		cursor: pointer;
	}
	p {
		font-size: 16pt;
	}
	button {
		margin: 5px;
	}
</style>


<p>Fading an Element</p>
<div id="theDiv"></div>
<button id="fadein">Fade In</button>
<button id="fadeout">Fade Out</button>
<button id="fadeto3">Fade To .3</button>
<button id="fadeup">Fade To 1.0</button>