---
title: Hover Tooltips
---

<link rel="stylesheet" type="text/css" href="../css/sunny/jquery-ui-1.10.4.custom.css">

<script type="text/javascript" src="../jquery-1.11.0.js"></script> <!-- reference jquery -->
<script type="text/javascript" src="../javascripts/jquery-ui-1.10.4.custom.js"></script>

<script type="text/javascript">
	$(function() {
		$("#viewlarger").hover(
			function() {
				var offset = $("#gearItem").offset();
				$("#tooltip1").css("top", offset.top).css("left", offset.left).css("display", "block");
				$("#tooltip1").animate({opacity:1.0}, 300);
			},
			function() {
				$("#tooltip1").animate({opacity: 0.0}, 300, function() {
					$("#tooltip1").css("display", "none");
				})

			}
		);
	});
</script>
<style type="text/css">
	.tooltipContent {
		position: absolute;
		display: none;
		opacity: 0.0;
	}
</style>

<div id="gearItem">
	<img src="../images/first.jpg" alt="swell suit" width="120" height="350">
	<p>view larger: <a href="hover_large.html.erb" target="_blank" id="viewlarger"> [+]</a></p>
</div>

<div class="tooltipContent" id="tooltip1">
	<img src="../images/first.jpg" width="510" height="310">
</div>