---
title: Parallax
---

<header class="band" data-0="background-position:0px 0px;" data-500="background-position:0px -250px;">
    <div class="container">
        <div class="columns sixteen">
            <h1>Meaningless Pap</h1>
            <a class="button" href="http://webdesign.tutsplus.com/author/ian-yates/">by Ian Yates</a>
        </div> 
    </div>       
</header>
<div class="band main">
    <div class="container">
        <div class="columns twelve offset-by-two"> 
            <h2>Mek 's a Brew Lad</h2>
            <p><strong>A pint 'o mild. Tell thi summat for nowt th'art nesh thee chuffin' nora eeh appens as maybe. Ey up is that thine god's own county. Be reet be reet nah then michael palin bloomin' 'eck gerritetten.</strong> Ah'll learn thi soft southern pansy. Any rooad soft southern pansy nobbut a lad mardy bum shu' thi gob face like a slapped arse. Ee by gum mardy bum michael palin. God's own county. Th'art nesh thee. Appens as maybe god's own county where's tha bin.</p>           
        </div>
    </div>
</div>
<div class="band main">
    <div class="container">
        <hr>
        <div class="columns six offset-by-two"> 
            <h3> Lorem ipsum dolor sit amet</h3>  
            <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="columns six">
            <h3> Lorem ipsum dolor sit amet</h3>  
            <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>
</div>
<footer class="band main">
    <hr>
    <div class="container">
        <div class="columns eight">
            <a href="http://webdesign.tutsplus.com/tutorials/jazz-up-a-static-webpage-with-subtle-parallax--webdesign-10195">GitHub</a>       
        </div>
        <div class="columns eight last">
            <a href="http://webdesign.tutsplus.com/tutorials/jazz-up-a-static-webpage-with-subtle-parallax--webdesign-10195">GitHub</a>
        </div>
    </div>
</footer>