---
title: Parallax
---

<link rel="stylesheet" type="text/css" href="../css/sunny/jquery-ui-1.10.4.custom.css">

<script type="text/javascript" src="../jquery-1.11.0.js"></script> <!-- reference jquery -->
<script type="text/javascript" src="../javascripts/jquery-ui-1.10.4.custom.js"></script>


<style type="text/css">
	.section {        
		width:1000px; 
		height:1500px;
	    background: url(../images/first.jpg)0 50% no-repeat #000; 
	}
	.section .inner { 
		width:1000px; 
		height:1500px;
	    background:url(../images/pdficon.png) no-repeat; 
	}
</style>


<div class="section">
    <div class="inner">
        
    </div>
</div>