---
title: ExpenseManager
---

<div class="em">
	<div class="emcont">
  		<div class="photo">
  			<div class="header">
  				<div class="left"></div>
          <div class="right">				
    				<span>FEATURES</span>
    				<span>LOGIN</span>
          </div>
  			</div>
        <div class="name1">Expense Manager</div>
  			<div class="name">Lorem ipsum dolor sit</div>
  			<div class="line"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do</div>
  			<div class="line"> incididunt ut labore et dolore magna aliqua</div>
  			<div class="btn">
  				<button type="submit">SIGN UP</button>
  			</div>
  		</div>


      <div class="budget">
        <div class="budget-title">Budget</div>
        <!-- <div class="budget-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.</div> -->
        <div class="look">
          <div class="look-budget">Budget: 4565e</div>
          <div class="action">
            <div class="in-out">
              <div class="in-out-title">Expense</div>
              <div class="time"> <span> 11.04.</span><span> 08:00h</span></div>
            </div>
            <div class="describe">
              <div class="describe-header">
                <div class="header1">Restoran</div>
                <div class="header2">Food</div>
                <div class="amount">10.00e</div>
              </div>
              <div class="describe-body">  
                <div class="text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore.</div>
                <div class="via"> <span class="gray">Via:</span><span class="blue">Cash</span></div>
              </div>
            </div>
          </div>
          <div class="action-left">
            <div class="describe">
              <div class="describe-header">
                <div class="header1">Travel</div>
                <div class="header2">Travel</div>
                <div class="amount">150.00e</div>
              </div>
              <div class="describe-body">  
                <div class="text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore.</div>
                <div class="via"> <span class="gray">Via:</span><span class="blue">Cash</span></div>
              </div>
            </div>
            <div class="in-out">
              <div class="in-out-title">Expense</div>
              <div class="time"> <span>06.04.</span><span> 11:23h</span></div>
            </div>
          </div>
          <div class="action">
            <div class="in-out">
              <div class="in-out-title">Income</div>
              <div class="time"> <span>12.04.</span><span> 10:20h</span></div>
            </div>
            <div class="describe">
              <div class="describe-header">
                <div class="header1">Salary</div>
                <div class="header2">Salary</div>
                <div class="amount">500.00e</div>
              </div>
              <div class="describe-body">
                <div class="text">Pharmacy</div>
                <div class="via"> <span class="gray">Via:</span><span class="blue">Cash</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="timeline">
        <div class="circle circle-one"></div>
        <div class="circle circle-two"></div>
        <div class="circle circle-three"></div>
      </div>
      <img src="../images/6H.jpg">

  		<div class="footer">
        <div class="footer-column">
          <div class="footer-title"><i class="icon-cloud-upload icon-large"></i></div>
          <div class="list green">  
            <div class="address">Njegoseva br. 11</div>
            <div class="mail">ideus@gmail.com</div>
            <div class="phone">020-123-456</div>
          </div>
        </div>
        <div class="footer-column">
          <div class="footer-title">PRODUCT</div>
          <div class="list">  
            <div>Features</div>
            <div>Customers</div>
            <div>One Click App</div>
          </div>
        </div>
        <div class="footer-column">
          <div class="footer-title">COMPANY</div>
          <div class="list">  
            <div>About Us</div>
            <div>Events</div>
            <div>Careers</div>
          </div>
        </div>
        <div class="footer-column">
          <div class="footer-title">HELP</div>
          <div class="list">  
            <div>Knowledgebase</div>
            <div>Getting Started</div>
            <div>Network Status</div>
          </div>
        </div>
        <div class="footer-column">
          <div class="footer-title">CONNECT</div>
          <div class="list">
            <div><i class="icon-facebook"></i> Facebok</div>
            <div><i class="icon-twitter"></i> Twitter</div>
            <div><i class="icon-linkedin"></i> Linkedin</div>
          </div>
        </div>
      </div>
	</div>
</div>