---
title: ExpenseManager
---

<div class="em">
	<div class="emcont">
  		<div class="photo">
  			<div class="header">
  				<div class="left"></div>
          <div class="right">				
    				<span>FEATURES</span>
    				<span>LOGIN</span>
          </div>
  			</div>
  			<div class="name">Lorem ipsum</div>
  			<div class="line"> Expense Manager lorem ipsum dolor sit amet</div>
  			<div class="line"> incididunt ut labore et dolore magna aliqua</div>
  			<div class="btn">
  				<button type="submit">SIGN UP</button>
  			</div>
  		</div>


      <div class="budget">
        <div class="budget-describe">
          <div class="budget-title">Budget</div>
          <div class="budget-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua.</div>
        </div>
        <div class="look">
          <div class="look-budget">Budget: 4565e</div>
          
          <div class="action">
            <div class="in-out">
              <div class="in-out-title">Income <i class="icon-download-alt icon-large"></i></div>
            </div>
            <div class="describe">
              <div class="describe-header">
                <div class="header1">Salary</div>
                <div class="header2">Salary</div>
                <div class="amount">500.00e</div>
              </div>
              <div class="describe-body">
                <div class="text">Pharmacy</div>
                <div class="via"> <span class="gray">Via:</span><span class="blue">Cash</span></div>
                <div class="time"> <span>15. April, </span><span> 12:00h</span></div>
              </div>
            </div>
          </div>

          <div class="action">
            <div class="in-out">
              <div class="in-out-title">Expense <i class="icon-food icon-large"></i></div>
            </div>
            <div class="describe">
              <div class="describe-header">
                <div class="header1">Restoran</div>
                <div class="header2">Food</div>
                <div class="amount">10.00e</div>
              </div>
              <div class="describe-body">  
                <div class="text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore.</div>
                <div class="via"> <span class="gray">Via:</span><span class="blue">Cash</span></div>
                <div class="time"> <span>15. April, </span><span> 12:00h</span></div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="timeline">
        <div class="circle circle-one"></div>
        <div class="circle circle-two"></div>
        <div class="circle circle-three"></div>
        <div class="circle circle-four"></div>
        <div class="circle circle-five"></div>
        <div class="circle circle-six"></div>
        <div class="circle circle-seven"></div>
      </div>

      <img src="../images/6H.jpg">

      <div class="budget">
        <div class="budget-describe">
          <div class="budget-title">Expenses</div>
          <div class="budget-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.</div>
        </div>
        <div class="look">
          
          <div class="action">
            <div class="in-out">
              <div class="in-out-title">Expense <i class="icon-film icon-large"></i></div>
            </div>
            <div class="describe">
              <div class="describe-header">
                <div class="header1">Cinema</div>
                <div class="header2">Entertainment</div>
                <div class="amount">10.00e</div>
              </div>
              <div class="describe-body">
                <div class="text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore.</div>
                <div class="via"> <span class="gray">Via:</span><span class="blue">Cash</span></div>
                <div class="time"> <span>15. April, </span><span> 12:00h</span></div>
              </div>
            </div>
          </div>

          <div class="action">
            <div class="in-out">
              <div class="in-out-title">Expense <i class="icon-truck icon-large"></i></div>
            </div>
            <div class="describe">
              <div class="describe-header">
                <div class="header1">Insurance</div>
                <div class="header2">Car</div>
                <div class="amount">200.00e</div>
              </div>
              <div class="describe-body">  
                <div class="text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore.</div>
                <div class="via"> <span class="gray">Via:</span><span class="blue">Cash</span></div>
                <div class="time"> <span>15. April, </span><span> 12:00h</span></div>
              </div>
            </div>
          </div>

          <div class="action">
            <div class="in-out">
              <div class="in-out-title">Expense <i class="icon-plane icon-large"></i></div>
            </div>
            <div class="describe">
              <div class="describe-header">
                <div class="header1">Travel</div>
                <div class="header2">Travel</div>
                <div class="amount">150.00e</div>
              </div>
              <div class="describe-body">  
                <div class="text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore.</div>
                <div class="via"> <span class="gray">Via:</span><span class="blue">Cash</span></div>
                <div class="time"> <span>15. April, </span><span> 12:00h</span></div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <img src="../images/img2564.jpg">

      <div class="graph">
        <div class="left">
          <div class="circle">
            <div class="circle-inside"></div>
          </div>
        </div>
        <div class="right">
          <div class="graph-title">Lorem ipsum</div>
          <div class="graph-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur.</div>
        </div>
      </div>

      <img src="../images/img123.jpg">

      <div class="timeline1">
        <div class="circle"></div>
      </div>

       <div class="graph">
        <div class="left">
          <img src="../images/price9.jpg">
        </div>
        <div class="right">
          <div class="graph-title">Lorem ipsum</div>
          <div class="graph-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur.</div>
        </div>
      </div>

  		<div class="footer">
        <div class="footer-column">
          <div class="footer-title"><i class="icon-cloud-upload icon-large"></i></div>
          <div class="list green">  
            <div class="address">Njegoseva br. 11</div>
            <div class="mail">ideus@gmail.com</div>
            <div class="phone">020-123-456</div>
          </div>
        </div>
        <div class="footer-column">
          <div class="footer-title">PRODUCT</div>
          <div class="list">  
            <div>Features</div>
            <div>Customers</div>
            <div>One Click App</div>
          </div>
        </div>
        <div class="footer-column">
          <div class="footer-title">COMPANY</div>
          <div class="list">  
            <div>About Us</div>
            <div>Events</div>
            <div>Careers</div>
          </div>
        </div>
        <div class="footer-column">
          <div class="footer-title">HELP</div>
          <div class="list">  
            <div>Knowledgebase</div>
            <div>Getting Started</div>
            <div>Network Status</div>
          </div>
        </div>
        <div class="footer-column">
          <div class="footer-title">CONNECT</div>
          <div class="list">
            <div><i class="icon-facebook"></i> Facebok</div>
            <div><i class="icon-twitter"></i> Twitter</div>
            <div><i class="icon-linkedin"></i> Linkedin</div>
          </div>
        </div>
      </div>
	</div>
</div>