---
title: Ideus
---

<div class="id">
	<div class="idcont">
  		<div class="photo">
  			<div class="header">
  				<span>ABOUT US</span>
  				<span>PROJECTS</span>
  				<span>TEAM</span>
  				<span>LOGIN</span>
  			</div>
			<img src="images/ideus.gif">
			<div class="name">IDEUS</div>
			<div class="line"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor</div>
			<div class="line"> incididunt ut labore et dolore magna aliqua</div>
			<div class="btn">
				<button type="submit">SIGN UP</button>
			</div>
  		</div>
  		<div class="about">
        <div class="about-title">LOREM IPSUM DOLOR SIT AMET</div>
        <div class="about-body">
          <div class="title">Lorem ipsum dolor</div>
          <div class="text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris.</div>
          <div class="title">Lorem ipsum dolor</div>
          <div class="text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris.</div>
        </div>
  		</div>
  		<div class="projects">
        <div class="title">PROJECTS</div>
        <div class="first-line">
          <div class="proba">
            <div class="ikosaedar">
              <div class="angle angle1"></div>
              <div class="angle angle2"></div>
              <div class="base">
                <div class="project-name">ExpenseManager</div>
                <div class="project-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit</div>
              </div>
              <div class="angle angle3 minus"></div>
              <div class="angle angle4 minus"></div>
            </div>
          </div>
          <div class="proba">
            <div class="ikosaedar">
              <div class="angle angle1"></div>
              <div class="angle angle2"></div>
              <div class="base">
                <div class="project-name">ProductPedia</div>
                <div class="project-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit</div>
              </div>
              <div class="angle angle3 minus"></div>
              <div class="angle angle4 minus"></div>
            </div>
          </div>
          <div class="proba">
            <div class="ikosaedar">
              <div class="angle angle1"></div>
              <div class="angle angle2"></div>
              <div class="base">
                <div class="project-name">PriceMeter</div>
                <div class="project-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit</div>
              </div>
              <div class="angle angle3 minus"></div>
              <div class="angle angle4 minus"></div>
            </div>
          </div>
        </div>
        <div class="second-line">  
          <div class="proba">
            <div class="ikosaedar">
              <div class="angle angle1"></div>
              <div class="angle angle2"></div>
              <div class="base">
                <div class="project-name">LOREM IPSUM</div>
                <div class="project-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit</div>
              </div>
              <div class="angle angle3 minus"></div>
              <div class="angle angle4 minus"></div>
            </div>
          </div>
          <div class="proba">
            <div class="ikosaedar">
              <div class="angle angle1"></div>
              <div class="angle angle2"></div>
              <div class="base">
                <div class="project-name">LOREM IPSUM</div>
                <div class="project-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit</div>
              </div>
              <div class="angle angle3 minus"></div>
              <div class="angle angle4 minus"></div>
            </div>
          </div>
        </div>
  		</div>
  		<div class="team">
        <div class="team-title">TEAM</div>
        <div class="images">
          <div class="img-team img6"> <div class="color"></div></div>
          <div class="img-team img"> <div class="color"></div></div>
          <div class="img-team img2"> <div class="color"></div></div>
          <div class="img-team img3"> <div class="color"></div></div>
          <div class="img-team img4"> <div class="color"></div></div>
          <div class="img-team img5"> <div class="color"></div></div>
        </div>
  		</div>
  		<div class="footer">
  			<div class="foot1">
  				<div class="address">ADDRESS</div>
  				<div class="street">Njegoseva br. 11</div>
  				<div class="town">81000 Podgorica</div>
  			</div>
  			<div class="foot2">
  				<div class="icons">
	  				<i class="icon-facebook"></i>
	  				<i class="icon-twitter"></i>
	  				<i class="icon-linkedin"></i>
	  			</div>
	  			<div class="copy">
  					<span> &copy Lorem ipsum dolor sit amet</span>
	  			</div>
  			</div>
  			<div class="foot3">
  				<div class="contact">CONTACT</div>
  				<div class="mail">ideus@gmail.com</div>
  				<div class="phone">020-123-456</div>
  				<div class="fax">020/234-567</div>
  			</div>
  		</div>
	</div>
</div>