---
title: Ideus
---

<div class="id">
	<div class="idcont">
  		<div class="photo">
  			<div class="header">
  				<span>ABOUT</span>
  				<span>PROJECTS</span>
  				<span>TEAM</span>
  				<span>LOGIN</span>
  			</div>
			<img src="images/ideus.gif">
			<div class="name">IDEUS</div>
			<div class="line"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor</div>
			<div class="line"> incididunt ut labore et dolore magna aliqua</div>
			<div class="btn">
				<button type="submit">SIGN UP</button>
			</div>
  		</div>
  		<div class="about">
  			<div class="title"> LOREM IPSUM DOLOR SIT AMET</div>
  			<div class="smth">
  				<div class="tit"> LOREM IPSUM DOLOR SIT AMET</div>
  				<div class="text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  				consequat.</div>
  			</div>
  			<div class="smth">
  				<div class="tit"> LOREM IPSUM DOLOR SIT AMET</div>
  				<div class="text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  				consequat.</div>
  			</div>
  		</div>
  		<div class="projects">
			<div class="project">	
				<div class="proj">
					<div class="pname"> <div class="apl">ProductPedia</div></div>
					<div class="phover">
					 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua.
					</div>
				</div>
				<div class="proj">
					<div class="pname"><div class="apl">ExpenseManager</div></div>
					<div class="phover">
					 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua.
				</div>
				</div>
				<div id="marg" class="proj">
					<div class="pname"><div class="apl">PriceMeter</div></div>
					<div class="phover">
					 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua.
				</div>
				</div>
			</div>
  		</div>
  		<div class="team">
  			<img id="team" src="images/ideus.gif">
  			<img id="team" src="images/ideus.gif">
  			<img id="team" src="images/ideus.gif">
  			<img id="team" src="images/ideus.gif">
  			<img id="team" src="images/ideus.gif">
  			<img id="team" src="images/ideus.gif">
  		</div>
  		<div class="footer">
  			<div class="foot1">
  				<div class="adr">ADRESS</div>
  				<div class="ul">Njegoseva br. 11</div>
  				<div class="gr">81000 Podgorica</div>
  			</div>
  			<div class="foot2">
  				<div class="icons">
	  				<i class="icon-facebook"></i>
	  				<i class="icon-twitter"></i>
	  				<i class="icon-linkedin"></i>
	  			</div>
	  			<div class="copy">
  					
	  			</div>
  			</div>
  			<div class="foot3">
  				<div class="cont">CONTACT</div>
  				<div class="mail">ideus@gmail.com</div>
  				<div class="tel">020-123-456</div>
  				<div class="fax">020/234-567</div>
  			</div>
  		</div>
	</div>
</div>