---
title: Ideus
---
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<style type="text/css"></style>

<div class="id">
	<div class="idcont">
  		<div class="photo">
  			<div class="header">
  				<span>ABOUT US</span>
  				<span>PROJECTS</span>
  				<span>TEAM</span>
  				<span>LOGIN</span>
  			</div>
  			<img src="images/ideus.gif">
  			<div class="name">IDEUS</div>
  			<div class="line"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  			tempor</div>
  			<div class="line"> incididunt ut labore et dolore magna aliqua</div>
  			<div class="btn">
  				<button type="submit">SIGN UP</button>
  			</div>
        <button class="down">
          <div>  
            <i class="icon-chevron-down"></i>
          </div>
          <div class="color">  
            <i class="icon-chevron-down"></i>
          </div>
          <div class="margin-bottom">   
            <i class="icon-chevron-down"></i>
          </div>
        </button>
  		</div>
  		<div class="about">
        <div class="about-title">Lorem ipsum dolor sit amet</div>
        <div class="about-body">
          <div class="describe">  
            <div class="title">Lorem ipsum dolor</div>
            <div class="text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
          </div>
          <div class="icon"> <div class="border"> <img src="../images/flat/imac.png"></div></div>
        </div>
        <div class="about-body">
          <div class="icon"> <div class="border"> <img src="../images/flat/mobile.png"></div></div>
          <div class="describe">  
            <div class="title">Lorem ipsum dolor</div>
            <div class="text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
          </div>
        </div>
        <div class="about-body">
          <div class="describe">  
            <div class="title">Lorem ipsum dolor</div>
            <div class="text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
          </div>
          <div class="icon"> <div class="border"> <img src="../images/flat/flat.png"></div></div>
        </div>
  		</div>

        <div id="mycarousel" class="carousel slide" data-interval="3000" data-ride="carousel">
          <div class="carousel-inner">
            <div class="item back active">
                <!-- <img src="../images/office.jpg" alt=""> -->
                <div class="cover">  
                  <div class="h1">Lorem ipsum dolor sit amet</div>
                  <div class="paragraph">Adipisicing elit sed do eiusmod</div>
                </div>
            </div>
            <div class="item">
                <h2>Lorem ipsum dolor sit amet consectetur</h2>
                <p>Adipisicing elit sed do eiusmod</p>
                <img class="small shift" src="../images/off2.jpg" alt="">
                <img class="small" src="../images/off1.jpg" alt="">
                <img class="small" src="../images/off3.jpg" alt="">
            </div>
            <div class="item back b1">
                <!-- <img src="../images/office.jpg" alt=""> -->
                <div class="cover">  
                  <div class="h1">Lorem ipsum dolor sit amet</div>
                  <div class="paragraph">Adipisicing elit sed do eiusmod</div>
                </div>
            </div>
            <div class="item">
              <div class="it4">
                <div class="title">Lorem ipsum dolor sit amet consectetur</div>
                <div class="subtitle">Adipisicing elit sed do eiusmod</div>
                <div class="text">Tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
              </div>
            </div>
          </div>
          <ol class="carousel-indicators">
            <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
            <li data-target="#mycarousel" data-slide-to="1"></li>
            <li data-target="#mycarousel" data-slide-to="2"></li>
            <li data-target="#mycarousel" data-slide-to="3"></li>
          </ol>
        </div>

  		<div class="projects">
        <div class="title">PROJECTS</div>
        <div class="first-line">
          <div class="proba">
            <div class="ikosaedar">
              <div class="angle angle1"></div>
              <div class="angle angle2"></div>
              <div class="base">
                <div class="about-project">  
                  <div class="project-name">ExpenseManager</div>
                  <div class="project-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit</div>
                </div>
                <i class="icon-picture"></i>
              </div>
              <div class="angle angle3 minus"></div>
              <div class="angle angle4 minus"></div>
            </div>
          </div>
          <div class="proba">
            <div class="ikosaedar">
              <div class="angle angle1"></div>
              <div class="angle angle2"></div>
              <div class="base">
                <div class="about-project">  
                  <div class="project-name">ProductPedia</div>
                  <div class="project-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit</div>
                </div>
                <i class="icon-picture"></i>
              </div>
              <div class="angle angle3 minus"></div>
              <div class="angle angle4 minus"></div>
            </div>
          </div>
          <div class="proba">
            <div class="ikosaedar">
              <div class="angle angle1"></div>
              <div class="angle angle2"></div>
              <div class="base">
                <div class="about-project">  
                  <div class="project-name">PriceMeter</div>
                  <div class="project-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit</div>
                </div>
                <i class="icon-picture"></i>
              </div>
              <div class="angle angle3 minus"></div>
              <div class="angle angle4 minus"></div>
            </div>
          </div>
        </div>
        <div class="second-line">  
          <div class="proba">
            <div class="ikosaedar">
              <div class="angle angle1"></div>
              <div class="angle angle2"></div>
              <div class="base">
                <div class="about-project">  
                  <div class="project-name">IdeusProjects</div>
                  <div class="project-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit</div>
                </div>
                <i class="icon-picture"></i>
              </div>
              <div class="angle angle3 minus"></div>
              <div class="angle angle4 minus"></div>
            </div>
          </div>
          <div class="proba">
            <div class="ikosaedar">
              <div class="angle angle1"></div>
              <div class="angle angle2"></div>
              <div class="base">
                <div class="about-project">  
                  <div class="project-name">IdeusProjects</div>
                  <div class="project-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit</div>
                </div>
                <i class="icon-picture"></i>
              </div>
              <div class="angle angle3 minus"></div>
              <div class="angle angle4 minus"></div>
            </div>
          </div>
        </div>
  		</div>
  		<div class="team">
        <div class="team-title">TEAM</div>
        <div class="images">
          <div class="one">
            <img src="../images/img2.jpg">
            <div class="name">Name Surname</div>
            <div class="position">Position</div> 
            <div class="text"> Lorem ipsum dolor sit amet concestur</div>
            <div class="contact"> <i class="icon-envelope"></i> <i class="icon-github"></i></div>
          </div>
          <div class="one">
            <img src="../images/image3.jpg">
            <div class="name">Name Surname</div>
            <div class="position">Position</div> 
            <div class="text"> Lorem ipsum dolor sit amet concestur</div>
            <div class="contact"> <i class="icon-envelope"></i> <i class="icon-github"></i></div>
          </div>
          <div class="one">
            <img src="../images/image4.jpg">
            <div class="name">Name Surname</div>
            <div class="position">Position</div> 
            <div class="text"> Lorem ipsum dolor sit amet concestur</div>
            <div class="contact"> <i class="icon-envelope"></i> <i class="icon-github"></i></div>
          </div>
          <div class="one">
            <img src="../images/img6.jpg">
            <div class="name">Name Surname</div>
            <div class="position">Position</div> 
            <div class="text"> Lorem ipsum dolor sit amet concestur</div>
            <div class="contact"> <i class="icon-envelope"></i> <i class="icon-github"></i></div>
          </div>
          <div class="one">
            <img src="../images/img5.jpg">
            <div class="name">Name Surname</div>
            <div class="position">Position</div> 
            <div class="text"> Lorem ipsum dolor sit amet concestur</div>
            <div class="contact"> <i class="icon-envelope"></i> <i class="icon-github"></i></div>
          </div>
          <div class="one">
            <img src="../images/img4.jpg">
            <div class="name">Name Surname</div>
            <div class="position">Position</div> 
            <div class="text"> Lorem ipsum dolor sit amet concestur</div>
            <div class="contact"> <i class="icon-envelope"></i> <i class="icon-github"></i></div>
          </div>
          <div class="one">
            <img src="../images/img3.jpg">
            <div class="name">Name Surname</div>
            <div class="position">Position</div> 
            <div class="text"> Lorem ipsum dolor sit amet concestur</div>
            <div class="contact"> <i class="icon-envelope"></i> <i class="icon-github"></i></div>
          </div>
          <div class="one">
            <img src="../images/image2.jpg">
            <div class="name">Name Surname</div>
            <div class="position">Position</div> 
            <div class="text"> Lorem ipsum dolor sit amet concestur</div>
            <div class="contact"> <i class="icon-envelope"></i> <i class="icon-github"></i></div>
          </div>
          <div class="one">
            <img src="../images/image1.jpg">
            <div class="name">Name Surname</div>
            <div class="position">Position</div> 
            <div class="text"> Lorem ipsum dolor sit amet concestur</div>
            <div class="contact"> <i class="icon-envelope"></i> <i class="icon-github"></i></div>
          </div>
          <div class="one">
            <img src="../images/image.jpg">
            <div class="name">Name Surname</div>
            <div class="position">Position</div> 
            <div class="text"> Lorem ipsum dolor sit amet concestur</div>
            <div class="contact"> <i class="icon-envelope"></i> <i class="icon-github"></i></div>
          </div>
          
        </div>
  		</div>


  		<div class="footer">

  			<div class="footer-column shift pad1">
          <div class="footer-title">PRODUCT</div>
          <div class="list">  
            <div>Features</div>
            <div>Customers</div>
            <div>One Click App</div>
          </div>
        </div>

        <div class="footer-column pad2">
          <div class="footer-title">COMPANY</div>
          <div class="list">  
            <div>About Us</div>
            <div>Events</div>
            <div>Careers</div>
          </div>
        </div>

  			<div class="footer-column center">
          <div class="footer-down">
            <div class="footer-title"><i class="icon-cloud-upload icon-large"></i></div>
            <div class="list spec">  
              <div class="address">Njegoseva br. 11</div>
              <div class="mail">ideus@gmail.com</div>
              <div class="phone">020-123-456</div>
            </div>
          </div>
          <div class="icons">
            <i class="icon-facebook"></i>
            <i class="icon-twitter"></i>
            <i class="icon-linkedin"></i>
          </div>
          <div class="copy">
            <span> &copy Lorem ipsum dolor sit amet</span>
          </div>
  			</div>

  			<div class="footer-column pad3">
          <div class="footer-title">HELP</div>
          <div class="list">  
            <div>Knowledgebase</div>
            <div>Getting Started</div>
            <div>Network Status</div>
          </div>
        </div>

        <div class="footer-column pad4">
          <div class="footer-title">CONNECT</div>
          <div class="list">  
            <div class="left">
              <div><i class="icon-facebook"></i></div>
              <div><i class="icon-twitter"></i></div>
              <div><i class="icon-linkedin"></i></div>
            </div>
            <div class="right">
              <div>Facebook</div>
              <div>Twitter</div>
              <div>LinkedIn</div>
            </div>
          </div>
        </div>
  		</div>
	</div>
</div>