---
title: PriceMeter
---

<div class="pm">
  <div class="pmcont">
  		<div class="photo">
  			<div class="header">
  				<div class="left"></div>
          <div class="right">				
    				<span>FEATURES</span>
    				<span>LOGIN</span>
          </div>
  			</div>
        <div class="photo-left">
          <div class="ruler">
            <div class="line">__</div>
            <div class="line">__</div>
            <div class="line">__</div>
            <div class="line">__</div>
            <div class="line">__</div>
            <div class="line">__</div>
            <div class="line">__</div>
            <div class="line">__</div>
            <div class="line">__</div>
            <div class="line">__</div>
            <div class="line">__</div>
            <div class="line">__</div>
            <div class="line">__</div>
            <div class="line">__</div>
            <div class="line">__</div>
          </div>
          <div class="euro">€</div>
        </div>
    		<div class="photo-right">
          <div class="name">PriceMeter</div>
    			<div class="line"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor</div>
    			<div class="line">incididunt ut labore et dolore magna aliqua</div>
    			<div class="btn">
    				<button type="submit">SIGN UP</button>
    			</div>
        </div>
  		</div>
      <div class="about">
        <div class="about-header">LOREM IPSUM DOLOR SIT AMET</div>
        <div class="about-header2">Lorem ipsum dolor sit</div>
        <div class="about-body">
          <div class="circle1"> 
            <i class="icon-th-list"></i>
            <div class="circle-title">Lorem</div>
          </div>
          <div class="circle2"> 
            <i class="icon-th-list"></i>
            <div class="circle-title">Lorem</div>
          </div>
          <div class="circle3"> 
            <i class="icon-th-list"></i>
            <div class="circle-title">Lorem</div>
          </div>
        </div>
      </div>
      <div class="feature1">
        <div class="feature-describe">
          <div class="describe-title">Kontrola cena</div>
          <div class="describe-body">U svakom trenu mozete proveriti cene proizvoda u svim nasim supermarketima. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua.</div>
        </div>
        <div class="feature-img"> <img src="../images/price6.jpg"></div>
      </div>
      <div class="feature2">
        <div class="feature-img"> <img src="../images/price7.jpg"></div>
        <div class="feature-describe">
          <div class="describe-title">Akcije</div>
          <div class="describe-body">Pratite akcije u nasim supermarketima i kupujte proizvode po najpovoljnijim cenama. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
        </div>
      </div>
      <div class="feature3">
        <div class="feature-describe">
          <div class="describe-title">Vasa lista proizvoda</div>
          <div class="describe-body">Kreirajte listu Vasih omiljenih proizvoda i pratite njihove cene. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua.</div>
        </div>
        <div class="feature-img"> <img src="../images/price.jpg"></div>
      </div>
      <div class="about">
        <div class="about-header">LOREM IPSUM DOLOR SIT AMET</div>
        <div class="about-header2">Lorem ipsum dolor sit</div>
        <div class="about-body">
          <div class="circle1"> 
            <i class="icon-th-list"></i>
            <div class="circle-title">Lorem</div>
          </div>
          <div class="circle2"> 
            <i class="icon-th-list"></i>
            <div class="circle-title">Lorem</div>
          </div>
          <div class="circle3"> 
            <i class="icon-th-list"></i>
            <div class="circle-title">Lorem</div>
          </div>
        </div>
      </div>
  		<div class="footer">
  			<div class="footer-column col2">
          <div class="footer-title"><i class="icon-cloud-upload icon-large"></i></div>
    			<div class="list green">	
            <div class="address">Njegoseva br. 11</div>
    				<div class="mail">ideus@gmail.com</div>
    				<div class="phone">020-123-456</div>
          </div>
        </div>
        <div class="footer-column col3">
          <div class="footer-title">PRODUCT</div>
          <div class="list">  
            <div class="item">Features</div>
            <div class="item">Customers</div>
            <div class="item">One Click App</div>
          </div>
        </div>
        <div class="footer-column col2 acenter">
          <div class="footer-title">COMPANY</div>
          <div class="list">  
            <div class="item">About Us</div>
            <div class="item">Events</div>
            <div class="item">Careers</div>
          </div>
        </div>
        <div class="footer-column col3">
          <div class="footer-title">HELP</div>
          <div class="list">  
            <div class="item">Knowledgebase</div>
            <div class="item">Getting Started</div>
            <div class="item">Network Status</div>
          </div>
        </div>
        <div class="footer-column col2 aright">
          <div class="footer-title">CONNECT</div>
          <div class="list">
            <div class="item"><i class="icon-facebook"></i> Facebok</div>
            <div class="item"><i class="icon-twitter"></i> Twitter</div>
            <div class="item"><i class="icon-linkedin"></i> Linkedin</div>
          </div>
        </div>
  		</div>
	</div>
</div>