---
title: ProductPedia
---

<div class="pp2">
	<div class="ppcont">
  		<div class="photo">
  			<div class="header">
  				<div class="left"></div>
          <div class="right">				
    				<span>FEATURES</span>
    				<span>LOGIN</span>
          </div>
  			</div>
  			<div class="name">ProductPedia</div>
  			<div class="line"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  			tempor</div>
  			<div class="line"> incididunt ut labore et dolore magna aliqua</div>
  			<div class="btn">
  				<button type="submit">SIGN UP</button>
  			</div>
  		</div>
      <div class="features">
        <div class="features-title">FEATURES</div>
        <div class="feature border-right border-bottom">
          <div class="image"> <div class="color"></div></div>
          <div class="describe">
            <div class="name">Pregled proizvoda</div>
            <div class="text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</div>
          </div>
        </div>
        <div class="feature border-bottom">
          <div class="image"> <div class="color"></div></div>
          <div class="describe">
            <div class="name"> <i class="icon-plus"></i> Kreiranje novog proizvoda</div>
            <div class="text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</div>
          </div>
        </div>
        <div class="feature border-right">
          <div class="image"> <div class="color"></div></div>
          <div class="describe">
            <div class="name"> <i class="icon-plus"></i> Kreiranje Favorite liste proizvoda</div>
            <div class="text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</div>
          </div>
        </div>
        <div class="feature">
          <div class="image"> <div class="color"></div></div>
          <div class="describe">
            <div class="name">Obavestenja o Favorite proizvodima</div>
            <div class="text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</div>
          </div>
        </div>
      </div>
  		<div class="footer">
  			<div class="footer-column">
          <div class="footer-title"><i class="icon-cloud-upload icon-large"></i></div>
    			<div class="list green">	
            <div class="address">Njegoseva br. 11</div>
    				<div class="mail">ideus@gmail.com</div>
    				<div class="phone">020-123-456</div>
          </div>
        </div>
        <div class="footer-column">
          <div class="footer-title">PRODUCT</div>
          <div class="list">  
            <div class="item">Features</div>
            <div class="item">Customers</div>
            <div class="item">One Click App</div>
          </div>
        </div>
        <div class="footer-column">
          <div class="footer-title">COMPANY</div>
          <div class="list">  
            <div class="item">About Us</div>
            <div class="item">Events</div>
            <div class="item">Careers</div>
          </div>
        </div>
        <div class="footer-column">
          <div class="footer-title">HELP</div>
          <div class="list">  
            <div class="item">Knowledgebase</div>
            <div class="item">Getting Started</div>
            <div class="item">Network Status</div>
          </div>
        </div>
        <div class="footer-column">
          <div class="footer-title">CONNECT</div>
          <div class="list">
            <div class="item"><i class="icon-facebook"></i> Facebok</div>
            <div class="item"><i class="icon-twitter"></i> Twitter</div>
            <div class="item"><i class="icon-linkedin"></i> Linkedin</div>
          </div>
        </div>
  		</div>
	</div>
</div>