$column: 40px;
$gutter: 20px;
$grid-columns: 12;
$max-width: 720px;
$gray: #d2d2d2;

.thesecret1 {
	.thecont {
		@include outer-container;
		.item {
			padding: 10px;
			.icon {
				@include span-columns(1);
				background-color: #ffffff;
				height: 44px;
				border-radius: 22px;
				border: 1px solid $gray;
				padding: 4px;
				.white {
					@include size(34px 34px);
					background-color: $gray;
					border-radius: 17px;
					text-align: center;
					padding: 8px;
					i {
						color: #ffffff;
					}
				}

			}
			.field {
				@include span-columns(11);
				background-color: #ffffff;
				padding: 15px;
				.pic {
					@include span-columns(1 of 11);
					height: $column;
					background-color: #2a2a2a;
				}
				.state {
					@include span-columns(10 of 11);
					@include omega();
					.text {
						.p {
							height: 15px;
							font-size: 14px;
							a {
								color: #edb360;
							}
						}
					}
					.time {
						font-size: 12px;
						color: $gray;
					}
				}
			}
		}
	}
}