$column: 40px;
$gutter: 20px;
$grid-columns: 12;
$max-width: 720px;
$gray: #d2d2d2;
$orange: #edb360;
$border: 1px solid #e6e6e6;


.thesecret1 {
	.thecont {
		@include outer-container;
		background-color: #f9f9f9;
		padding: 20px;
		.item {
			.icon {
				@include span-columns(1);
				background-color: #ffffff;
				height: $column+1;
				border-radius: $column/2;
				border: 1px solid $gray;
				padding: 3px;
				margin-top: 35px;
				.white {
					@include size(33px 33px);
					background-color: $gray;
					border-radius: 16px;
					text-align: center;
					padding: 8px;
					i {
						color: #ffffff;
					}
				}

			}
			.field {
				@include span-columns(11);
				background-color: #ffffff;
				padding: 15px;
				margin-top: 20px;
				border: $border;
				.pic {
					@include span-columns(1 of 11);
					height: $column;
					background-color: #2a2a2a;
				}
				.state {
					@include span-columns(10 of 11);
					@include omega();
					.text {
						.p {
							height: 15px;
							font-size: 14px;
							a {
								color: $orange;
							}
						}
					}
					.time {
						font-size: 12px;
						color: $gray;
					}
				}
			}
			.field::after {
				@include size(10px 10px);
				background-color: #ffffff;
			    content: "";
			    display: block;
			    margin: 15px 0px 0px -21px;
			    position: relative;
			    @include transform(rotate(45deg));
			    border-left: $border;
			    border-bottom: $border;
			}
			&:hover {
				.icon {
					border: 1px solid $orange; 
					.white {
						background-color: $orange;
					}
				}
				.field {
					border: 1px solid $orange;
				}
				.field::after {
					border-left: 1px solid $orange;
					border-bottom: 1px solid $orange;
				}
			}
		}
		.line {
			height: 550px;
			border-left: 1px solid #e6e6e6;
			margin: 50px 0px 0px 20px;
		}
	}
}