---
title: Welcome to Middleman
---

<div class="kompot">
	<div class="fix">
		<div class="cont">
			<div class="log"></div>
			<div class="nav1"></div>
		</div>
	</div>
	<div class="header">
		<div class="list">
			<div class="kompot">
				<div class="kom"></div>
				<div class="kom"></div>
				<div class="kom"></div>
				<div class="kom"></div>
			</div>
			<div class="search"></div>
		</div>
		<div class="nav2"></div>
	</div>
	<div class="picture"></div>
	<div class="pmenu1">
		<div class="p1menu"></div>
	</div>
	<div class="pmenu2">
		<div class="p2menu"></div>
	</div>
	<div class="menu">
		<div class="menu1"></div>
		<div class="menu1"></div>
		<div class="menu1"></div>
	</div>
	<div class="products1">
		<div class="p1prod"></div>
	</div>
	<div class="products2">
		<div class="p2prod"></div>
	</div>
	<div class="prod">
		<div class="prod1">
			<div class="category"></div>
			<div class="img"></div>
			<div class="food"></div>
			<div class="add"></div>
		</div>
		<div class="prod1">
			<div class="category"></div>
			<div class="img"></div>
			<div class="food"></div>
			<div class="add"></div>
		</div>
		<div class="prod1">
			<div class="category"></div>
			<div class="img"></div>
			<div class="food"></div>
			<div class="add"></div>
		</div>
		<div class="prod1">
			<div class="category"></div>
			<div class="img"></div>
			<div class="food"></div>
			<div class="add"></div>
		</div>
	</div>
	<div class="footerk">
		<div class="foot1">
			<div class="f11"></div>
			<div class="f12"></div>
		</div>
		<div class="foot2">
			<div class="f21"></div>
			<div class="f22"></div>
			<div class="f23"></div>
		</div>
	</div>
</div>

