---
title: Welcome to Middleman
---

<div class="mmm">
	<div class="header">
		<div class="headcont">
			<div class="logo"></div>
			<div class="firstline"></div>
			<div class="secline"></div>
		</div>
	</div>
	<div class="innovation">
		<div class="inncont">
			<div class="inn"></div>
			<div class="stories"></div>
			<div class="litlered"></div>
			<div class="text"></div>
		</div>
	</div>
	<div class="featured">
		<div class="feat"></div>
		<div class="hope">
			<div class="pic"></div>
			<div class="white"></div>
			<div class="titlefeat"></div>
			<div class="red"></div>	
			<div class="blackfeat"></div>
			<div class="view"></div>
		</div>
		<div class="afar">
			<div class="pic"></div>
			<div class="white"></div>
			<div class="titlefeat"></div>
			<div class="red"></div>	
			<div class="blackfeat"></div>
			<div class="view"></div>
		</div>
	</div>
	<div class="recent">
		<div class="most"></div>
		<div class="box">
			<div class="bpic"></div>
			<div class="bwhite"></div>
			<div class="btitle"></div>
			<div class="bred"></div>
			<div class="btext"></div>
			<div class="bview"></div>
		</div>
		<div class="box">
			<div class="bpic"></div>
			<div class="bwhite"></div>
			<div class="btitle"></div>
			<div class="bred"></div>
			<div class="btext"></div>
			<div class="bview"></div>
		</div>
		<div class="box">
			<div class="bpic"></div>
			<div class="bwhite"></div>
			<div class="btitle"></div>
			<div class="bred"></div>
			<div class="btext"></div>
			<div class="bview"></div>
		</div>
		<div class="box">
			<div class="bpic"></div>
			<div class="bwhite"></div>
			<div class="btitle"></div>
			<div class="bred"></div>
			<div class="btext"></div>
			<div class="bview"></div>
		</div>
		<div class="box">
			<div class="bpic"></div>
			<div class="bwhite"></div>
			<div class="btitle"></div>
			<div class="bred"></div>
			<div class="btext"></div>
			<div class="bview"></div>
		</div>
		<div class="box">
			<div class="bpic"></div>
			<div class="bwhite"></div>
			<div class="btitle"></div>
			<div class="bred"></div>
			<div class="btext"></div>
			<div class="bview"></div>
		</div>
		<div class="box">
			<div class="bpic"></div>
			<div class="bwhite"></div>
			<div class="btitle"></div>
			<div class="bred"></div>
			<div class="btext"></div>
			<div class="bview"></div>
		</div>
		<div class="box">
			<div class="bpic"></div>
			<div class="bwhite"></div>
			<div class="btitle"></div>
			<div class="bred"></div>
			<div class="btext"></div>
			<div class="bview"></div>
		</div>
		<div class="box">
			<div class="bpic"></div>
			<div class="bwhite"></div>
			<div class="btitle"></div>
			<div class="bred"></div>
			<div class="btext"></div>
			<div class="bview"></div>
		</div>
		<div class="box">
			<div class="bpic"></div>
			<div class="bwhite"></div>
			<div class="btitle"></div>
			<div class="bred"></div>
			<div class="btext"></div>
			<div class="bview"></div>
		</div>
		<div class="box">
			<div class="bpic"></div>
			<div class="bwhite"></div>
			<div class="btitle"></div>
			<div class="bred"></div>
			<div class="btext"></div>
			<div class="bview"></div>
		</div>
		<div class="box">
			<div class="bpic"></div>
			<div class="bwhite"></div>
			<div class="btitle"></div>
			<div class="bred"></div>
			<div class="btext"></div>
			<div class="bview"></div>
		</div>
		<div class="box">
			<div class="bpic"></div>
			<div class="bwhite"></div>
			<div class="btitle"></div>
			<div class="bred"></div>
			<div class="btext"></div>
			<div class="bview"></div>
		</div>
		<div class="box">
			<div class="bpic"></div>
			<div class="bwhite"></div>
			<div class="btitle"></div>
			<div class="bred"></div>
			<div class="btext"></div>
			<div class="bview"></div>
		</div>
		<div class="box">
			<div class="bpic"></div>
			<div class="bwhite"></div>
			<div class="btitle"></div>
			<div class="bred"></div>
			<div class="btext"></div>
			<div class="bview"></div>
		</div>
		<div class="box">
			<div class="bpic"></div>
			<div class="bwhite"></div>
			<div class="btitle"></div>
			<div class="bred"></div>
			<div class="btext"></div>
			<div class="bview"></div>
		</div>
		<div class="box">
			<div class="bpic"></div>
			<div class="bwhite"></div>
			<div class="btitle"></div>
			<div class="bred"></div>
			<div class="btext"></div>
			<div class="bview"></div>
		</div>
		<div class="box">
			<div class="bpic"></div>
			<div class="bwhite"></div>
			<div class="btitle"></div>
			<div class="bred"></div>
			<div class="btext"></div>
			<div class="bview"></div>
		</div>
		<div class="box">
			<div class="bpic"></div>
			<div class="bwhite"></div>
			<div class="btitle"></div>
			<div class="bred"></div>
			<div class="btext"></div>
			<div class="bview"></div>
		</div>
		<div class="box">
			<div class="bpic"></div>
			<div class="bwhite"></div>
			<div class="btitle"></div>
			<div class="bred"></div>
			<div class="btext"></div>
			<div class="bview"></div>
		</div>
		<div class="box">
			<div class="bpic"></div>
			<div class="bwhite"></div>
			<div class="btitle"></div>
			<div class="bred"></div>
			<div class="btext"></div>
			<div class="bview"></div>
		</div>
		<div class="box">
			<div class="bpic"></div>
			<div class="bwhite"></div>
			<div class="btitle"></div>
			<div class="bred"></div>
			<div class="btext"></div>
			<div class="bview"></div>
		</div>
		<div class="box">
			<div class="bpic"></div>
			<div class="bwhite"></div>
			<div class="btitle"></div>
			<div class="bred"></div>
			<div class="btext"></div>
			<div class="bview"></div>
		</div>
		<div class="box">
			<div class="bpic"></div>
			<div class="bwhite"></div>
			<div class="btitle"></div>
			<div class="bred"></div>
			<div class="btext"></div>
			<div class="bview"></div>
		</div>
	</div>
	<div class="footer">
		<div class="tw">
			<div class="tw1"></div>
		</div>
		<div class="foot">
			<div class="foot1"></div>
			<div class="foot2"></div>
			<div class="foot3"></div>
		</div>
	</div>
</div>

