---
title: Welcome to Middleman
---

<div class="progress">
 	<div class="header">
 		<div class="head">
 			<div class="logo">
 				<img src="images/progress1.jpg">
 				<h1>PROGRESS</h1>
 				<p class="phead">MANAGEMENT COMPANY</p>
 			</div>
 			<div class="nav">
 				<ul>
 					<li class="selected">HOME</li>
 					<li>ABOUT</li>
 					<li>SERVICES</li>
 					<li>PROJECTS</li>
 					<li>BLOG</li>
 					<li>CONTACTS</li>
 				</ul>
 			</div>
 		</div>
 	</div>
 	<div class="picstretch">
 		<div class="control">
			<a class="left" href="#" charset="lcontrol"> <span class="icon-chevron-left"></span></a>
			<a class="right" href="#" charset="rcontrol"> <span class="icon-chevron-right"></span></a>
		</div>
 		<div class="block">
 			<div class="bl">
	 			<h3>EFFECTIVE MANAGEMENT</h3>
	 			<p class="pblock"> LOREM IPSUM DOLOR SIT AMET CONSECTETUR ADIPISICING.</p>
	 		</div>
 		</div>
 	</div>
 	<div class="first">
 		<div class="f1">
	 		<span class="icon-user"></span>
	 		<h3>MANAGEMENT</h3>
	 		<p class="pf1"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	 		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	 		quis nostrud exercitation ullamco laboris.</p>
	 		<button type="button" class="btn1">More</button>
	 	</div>
	 	<div class="f2">
	 		<span class="icon-time"></span>
	 		<h3>PLANNING</h3>
	 		<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	 		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	 		quis nostrud exercitation ullamco laboris.</p>
	 		<button type="button" class="btn2">More</button>
	 	</div>
	 	<div class="f3">
	 		<span class="icon-user-md"></span>
	 		<h3>DEVELOPMENT</h3>
	 		<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	 		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	 		quis nostrud exercitation ullamco laboris.</p>
	 		<button type="button" class="btn2">More</button>
	 	</div>
 	</div>
 	<div class="second">
 		<div class="s1">
 			<h3>WHAT WE OFFER</h3>
 			<ul>
 				<li><span class="icon-caret-right"> Lorem ipsum dolor sit amet</li>
 				<li><span class="icon-caret-right"> Consectetur adipisicing elit</li>
 				<li><span class="icon-caret-right"> Sed do eiusmod tempor incididunt</li>
 				<li><span class="icon-caret-right"> Ut labore et dolore magna aliqua</li>
 				<li><span class="icon-caret-right"> Ut enim ad minim veniam</li>
 				<li><span class="icon-caret-right"> Quis nostrud exercitation ullamco laboris</li>
 				<li><span class="icon-caret-right"> Nisi ut aliquip ex ea commodo consequat</li>
 				<li><span class="icon-caret-right"> Duis aute irure dolor in reprehenderit</li>
 				<li><span class="icon-caret-right"> In voluptate velit esse cillum dolore</li>
 			</ul>
	 		<button type="button" class="btn2">More</button>
 		</div>
 		<div class="s2">
 			<h3 class="h3s2">OUR NEWS</h3>
 			<div class="divs2">
	 			<img src="images/progress4.jpg">
	 			<h5>LOREM IPSUM DOLOR SIT AMET.</h5>
	 			<p class="ps2">Consectetur adipisicing elit, sed do eiusmod
	 			tempor incididunt ut labore et dolore magna aliqua. <span class="icon-caret-right"></span></p>
	 		</div>
 			<br />
 			<div class="divs2">
	 			<img src="images/progress4.jpg">
	 			<h5>LOREM IPSUM DOLOR SIT AMET.</h5>
	 			<p class="ps2">Consectetur adipisicing elit, sed do eiusmod
	 			tempor incididunt ut labore et dolore magna aliqua. <span class="icon-caret-right"></span></p>
	 		</div>
 			<br />
 		</div>
 		<div class="s3">
 			<h3>STRATEGIES</h3>
 			<img src="images/progress3.jpg">
 			<h5 class="h5s3">LOREM IPSUM DOLOR SIT AMET.</h5>
 			<p class="ps3">Consectetur adipisicing elit, sed do eiusmod
 			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
 			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
 			consequat.</p>
 		</div>
 	</div>
 	<div class="third">
 		<h2>OUR ADVENTAGES</h2>
 		<div class="box">
 			<img src="images/progress5.jpg">
 			<h5 class="h5b">PRO CONSULTING</h5>
 			<p class="pb">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
 			tempor incididunt ut labore et dolore magna aliqua. <span class="icon-caret-right"></span></p>
 			<br />
 		</div>
 		<div class="box">
 			<img src="images/progress5.jpg">
 			<h5 class="h5b">PROFESSIONAL APPROACH</h5>
 			<p class="pb">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
 			tempor incididunt ut labore et dolore magna aliqua. <span class="icon-caret-right"></span></p>
 			<br />
 		</div>
 		<div class="box">
 			<img src="images/progress5.jpg">
 			<h5 class="h5b">INNOVATION AND DIVERSITY</h5>
 			<p class="pb">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
 			tempor incididunt ut labore et dolore magna aliqua. <span class="icon-caret-right"></span></p>
 			<br />
 		</div>
 		<div class="box">
 			<img src="images/progress5.jpg">
 			<h5 class="h5b">SUSTAINABLE FUTURE</h5>
 			<p class="pb">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
 			tempor incididunt ut labore et dolore magna aliqua. <span class="icon-caret-right"></span></p>
 			<br />
 		</div>
 	</div>
 	<div class="footer">
 		<div class="foot">
	 		<h5 class="h5f">COMPANY</h5>
 			<ul>
 				<li><span class="icon-caret-right"></span> ABOUT US</li>
 				<li><span class="icon-caret-right"></span> CLIENTS</li>
 				<li><span class="icon-caret-right"></span> PRESENTATION</li>
 				<li><span class="icon-caret-right"></span> SUPPORT</li>
 				<li><span class="icon-caret-right"></span> SCHEDULE</li>
 			</ul>
 		</div>
 		<div class="foot">
 			<h5 class="h5f">OVERVIEW</h5>
 			<ul>
 				<li><span class="icon-caret-right"></span> WHAT WE DO</li>
 				<li><span class="icon-caret-right"></span> NEWS</li>
 				<li><span class="icon-caret-right"></span> SOLUTIONS</li>
 			</ul>
 		</div>
 		<div class="foot">
 			<h5 class="h5f">FOR CLIENTS</h5>
 			<ul>
 				<li><span class="icon-caret-right"></span> FORUMS</li>
 				<li><span class="icon-caret-right"></span> PROMOTIONS</li>
 				<li><span class="icon-caret-right"></span> SIGN IN</li>
 				<li><span class="icon-caret-right"></span> NEWS</li>
 			</ul>
 		</div>
 		<div class="foot">
 			<h5 class="h5f">ARCHIVE</h5>
 			<ul>
 				<li><span class="icon-caret-right"></span> MARCH 2013</li>
 				<li><span class="icon-caret-right"></span> APRIL 2013</li>
 				<li><span class="icon-caret-right"></span> MAY 2013</li>
 				<li><span class="icon-caret-right"></span> JUNE 2013</li>
 				<li><span class="icon-caret-right"></span> JULY 2013</li>
 			</ul>
 		</div>
 	</div>
</div>

