---
title: Welcome to Middleman
---

<div class="wallmob">
	<div class="enterprise">
		<div class="enterprisecont">
			<div class="entertitle1"></div>
			<div class="entertitle2"></div>
			<div class="enterbtn"></div>
			<div class="enterlearn"></div>
		</div>
	</div>
	<div class="intelligent">
		<div class="int1">
			<div class="pic1"></div>
			<div class="text1">
				<div class="title11"></div>
				<div class="title12"></div>
				<div class="text1l1"></div>
			</div>
		</div>
		<div class="int2">
			<div class="text2">
				<div class="title2"></div>
				<div class="line2"></div>
				<div class="retail"></div>
			</div>
			<div class="pic2"></div>
		</div>
		<div class="int3">
			<div class="pic3"></div>
			<div class="text3">
				<div class="title3"></div>
				<div class="line3"></div>
				<div class="entsol"></div>
			</div>
		</div>
		<div class="int4">
			<div class="sale"></div>
			<div class="mobile"></div>
			<div class="wallet"></div>
			<div class="ecomm"></div>
		</div>
	</div>
	<div class="point">
		<div class="pointcont">
			<div class="pos">
				<div class="titlepoint"></div>
					<div class="par">
						<div class="pblue"></div>
						<div class="ptitle"></div>
						<div class="pline"></div>
					</div>
					<div class="par">
						<div class="pblue"></div>
						<div class="ptitle"></div>
						<div class="pline"></div>
					</div>
					<div class="par">
						<div class="pblue"></div>
						<div class="ptitle"></div>
						<div class="pline"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="pointcont2">
			<div class="mps">
				<div class="mpstitle1"></div>
				<div class="mpstitle2"></div>
				<div class="mpsline"></div>
			</div>
			<div class="video"></div>
		</div>
	</div>
	<div class="dashboard">
		<div class="dashcont">
			<div class="dashtitle"></div>
			<div class="dashline"></div>
		</div>
	</div>
	


	<div class="payment">
		<div class="pay1"></div>	
		<div class="pay2"></div>
		<div class="paycont">
			<div class="paytitle"></div>
			<div class="payline"></div>
			<div class="payvideo"></div>
		</div>
	</div>
	


	<div class="info">
		<div class="infocont">
			<div class="field">
				<div class="field1"></div>
				<div class="field2"></div>
			</div>
			<div class="infopic"></div>
		</div>
	</div>
	<div class="backoffice">
		<div class="backblue"></div>
		<div class="backcont">
			<div class="back">
				<div class="backtitle"></div>
				<div class="backline"></div>
				<div class="backtab"></div>
				<div class="explore"></div>
			</div>
		</div>
	</div>
	<div class="solution">
		<div class="solcont">
			<div class="soltitle"></div>
			<div class="solline"></div>
			<div class="solpic"></div>
		</div>
	</div>
	<div class="clients">
		<div class="clcont">
			<div class="cltitle"></div>
		</div>
		<div class="clline"></div>
	</div>
	<div class="footer1">
		<div class="foot1cont">
			<div class="col"></div>
			<div class="col"></div>
			<div class="col"></div>
			<div class="col"></div>
		</div>
	</div>
	<div class="footer2">
		<div class="foot2cont">
			<div class="col1"></div>
			<div class="col2"></div>
			<div class="col3"></div>
		</div>
	</div>
</div>

