---
title: Welcome to Middleman
---

<div class="card">
	<div class="cardcont">
		<div class="cstyle">
			<div class="pic">
				<img src="images/0-5.png">
			</div>
			<div class="pad">
				<div class="name">Moja Kravica 0.5%mm</div>
				<div class="blue"></div>
				<div class="text">Spoj najkvalitetnijeg sirovog mleka sa vrhunskom tehnologijom prerade!</div>
				<div class="row">
					<div class="price">1.00€</div>
					<div class="tag">Mleko</div>
				</div>
			</div>
			<div class="triple">
				<div class="t1"> <i class="icon-eye-open"></i> 789</div>
				<div class="t2"> <i class="icon-user"></i> 789</div>
				<div class="t3"> <i class="icon-shopping-cart"></i> 789</div>
			</div>
		</div>
		<div class="cstyle">
			<div class="pic">
				<img src="images/1-5.png">
			</div>
			<div class="pad">
				<div class="name">Moja Kravica 1.5%mm</div>
				<div class="blue"></div>
				<div class="text">Spoj najkvalitetnijeg sirovog mleka sa vrhunskom tehnologijom prerade!</div>
				<div class="row">
					<div class="price">1.10€</div>
					<div class="tag">Mleko</div>
				</div>
			</div>
			<div class="triple">
				<div class="t1"> <i class="icon-eye-open"></i> 789</div>
				<div class="t2"> <i class="icon-user"></i> 789</div>
				<div class="t3"> <i class="icon-shopping-cart"></i> 789</div>
			</div>
		</div>
		<div class="cstyle">
			<div class="pic">
				<img src="images/2-8.png">
			</div>
			<div class="pad">
				<div class="name">Moja Kravica 2.8%mm</div>
				<div class="blue"></div>
				<div class="text">Spoj najkvalitetnijeg sirovog mleka sa vrhunskom tehnologijom prerade!</div>
				<div class="row">
					<div class="price">1.20€</div>
					<div class="tag">Mleko</div>
				</div>
			</div>
			<div class="triple">
				<div class="t1"> <i class="icon-eye-open"></i> 789</div>
				<div class="t2"> <i class="icon-user"></i> 789</div>
				<div class="t3"> <i class="icon-shopping-cart"></i> 789</div>
			</div>
		</div>
		<div class="cstyle">
			<div class="pic">
				<img src="images/3-2.png">
			</div>
			<div class="pad">
				<div class="name">Moja Kravica 3.2%mm</div>
				<div class="blue"></div>
				<div class="text">Spoj najkvalitetnijeg sirovog mleka sa vrhunskom tehnologijom prerade!</div>
				<div class="row">
					<div class="price">1.30€</div>
					<div class="tag">Mleko</div>
				</div>
			</div>
			<div class="triple">
				<div class="t1"> <i class="icon-eye-open"></i> 789</div>
				<div class="t2"> <i class="icon-user"></i> 789</div>
				<div class="t3"> <i class="icon-shopping-cart"></i> 789</div>
			</div>
		</div>
		<div class="third">
			<div class="cstyle">
				<div class="pic">
					<img src="images/0-5.png">
					<div class="controls">
						<div class="h1"> <i class="icon-eye-open"></i> 789</div>
						<div class="h2"> <i class="icon-user"></i> 789</div>
						<div class="h3"> <i class="icon-shopping-cart"></i> 789</div>
					</div>
				</div>
				<div class="pad">
					<div class="name">Moja Kravica 0.5%mm</div>
					<div class="blue"></div>
					<div class="text">Spoj najkvalitetnijeg sirovog mleka sa vrhunskom tehnologijom prerade!</div>
					<div class="row">
						<div class="price">1.00€</div>
						<div class="tag">Mleko</div>
					</div>
				</div>
			</div>
			<div class="cstyle">
				<div class="pic">
					<img src="images/1-5.png">
					<div class="controls">
						<div class="h1"> <i class="icon-eye-open"></i> 789</div>
						<div class="h2"> <i class="icon-user"></i> 789</div>
						<div class="h3"> <i class="icon-shopping-cart"></i> 789</div>
					</div>
				</div>
				<div class="pad">
					<div class="name">Moja Kravica 1.5%mm</div>
					<div class="blue"></div>
					<div class="text">Spoj najkvalitetnijeg sirovog mleka sa vrhunskom tehnologijom prerade!</div>
					<div class="row">
						<div class="price">1.10€</div>
						<div class="tag">Mleko</div>
					</div>
				</div>
			</div>
			<div class="cstyle">
				<div class="pic">
					<img src="images/2-8.png">
					<div class="controls">
						<div class="h1"> <i class="icon-eye-open"></i> 789</div>
						<div class="h2"> <i class="icon-user"></i> 789</div>
						<div class="h3"> <i class="icon-shopping-cart"></i> 789</div>
					</div>
				</div>
				<div class="pad">
					<div class="name">Moja Kravica 2.8%mm</div>
					<div class="blue"></div>
					<div class="text">Spoj najkvalitetnijeg sirovog mleka sa vrhunskom tehnologijom prerade!</div>
					<div class="row">
						<div class="price">1.20€</div>
						<div class="tag">Mleko</div>
					</div>
				</div>
			</div>
			<div class="cstyle">
				<div class="pic">
					<img src="images/3-2.png">
					<div class="controls">
						<div class="h1"> <i class="icon-eye-open"></i> 789</div>
						<div class="h2"> <i class="icon-user"></i> 789</div>
						<div class="h3"> <i class="icon-shopping-cart"></i> 789</div>
					</div>
				</div>
				<div class="pad">
					<div class="name">Moja Kravica 3.2%mm</div>
					<div class="blue"></div>
					<div class="text">Spoj najkvalitetnijeg sirovog mleka sa vrhunskom tehnologijom prerade!</div>
					<div class="row">
						<div class="price">1.30€</div>
						<div class="tag">Mleko</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>