---
title: Welcome to Middleman
---

<div class="new">
	<div class="newcont">

		<div class="cstyle">
			<div class="pic">
				<img src="images/img10.jpg">
			</div>
			<div class="name">Moja Kravica <span id="mm">0.5%mm</span></div>
			<div class="pad">
				<div class="text">Spoj najkvalitetnijeg sirovog mleka sa vrhunskom tehnologijom prerade!</div>
				<div class="row">
					<div class="price">1.00€</div>
					<div class="link"> <a href="">Detaljnije o proizvodu</a></div>
				</div>
			</div>
			<div class="trip">
				<div id="trip" class="t1"> <i class="icon-eye-open"></i> 789 <span id="sp">  <i class="icon-user"></i> 789</span></div>
				<div id="trip2" class="star"> <i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></div>
			</div>
		</div>
		<div class="cstyle">
			<div class="pic">
				<img src="images/img9.jpg">
			</div>
			<div class="name">Moja Kravica <span id="mm">1.5%mm</span></div>
			<div class="pad">
				<div class="text">Spoj najkvalitetnijeg sirovog mleka sa vrhunskom tehnologijom prerade!</div>
				<div class="row">
					<div class="price">1.10€</div>
					<div id="img2" class="pict"> <img src="images/imlek.png"></div>
				</div>
			</div>
			<div class="triple">
				<div class="t1"> <i class="icon-eye-open"></i> 789 </div>
				<div class="t2">  <i class="icon-user"></i> 789</div>
				<div class="t3"> <i class="icon-shopping-cart"></i> 789</div>
			</div>
		</div>
		<div class="cstyle">
			<div class="pic">
				<img src="images/img12.jpg">
			</div>
			<div class="name">Moja Kravica <span id="mm">3.2%mm</span></div>
			<div class="pad">
				<div class="text">Spoj najkvalitetnijeg sirovog mleka sa vrhunskom tehnologijom prerade!</div>
				<div class="row">
					<div class="price">1.30€</div>
					<div class="btn"> <button>Mleko</button></div>
				</div>
			</div>
			<div class="triple">
				<div class="t1"> <i class="icon-eye-open"></i> 789</div>
				<div class="t2"> <i class="icon-user"></i> 789</div>
				<div class="t3"> <i class="icon-shopping-cart"></i> 789</div>
			</div>
		</div>
		
		<div class="cstyle">
			<div class="pic">
				<img src="images/img11.jpg">
			</div>
			<div class="name">Moja Kravica <span id="mm">2.8%mm</span></div>
			<div class="pad">
				<div class="text">Spoj najkvalitetnijeg sirovog mleka sa vrhunskom tehnologijom prerade!</div>
				<div class="row">
					<div id="a" class="link"> <a href="">Detaljnije o proizvodu</a></div>
					<div id="pr" class="price">1.20€</div>
				</div>
			</div>
			<div class="trip" id="pad">
				<div id="trip" class="t1"> <i class="icon-eye-open"></i> 789 <span id="sp">  <i class="icon-user"></i> 789</span></div>
				<div id="trip2" class="star"> <button type="submit">Mleko</button></div>
			</div>
		</div>
	</div>
</div>