---
title: Welcome to Middleman
---

<div class="coachlist">
	<div class="coachcont">
		<div class="coach">
			<div class="pic">
				<img src="images/0-5.png">
			</div>
			<div class="pad">
				<div class="name1"> 
					<div class="row">
						<div class="s1">Moja Kravica</div> <div class="s2"> dugotrajno mleko</div> 
					</div>
					<div class="s3"> 0.5%</div>
				</div>
				<div class="triple">
					<div class="tr1"> <i class="icon-repeat"></i> 789</div>
					<div class="tr2"> <i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></div>
					<div class="tr3"> <i class="icon-user"></i> 789</div>
				</div>
				<div class="trip2">
					<span class="tr21">Neto: 1l</span>
					<span class="tr22">35.7kcal</span>
					<span class="tr23">1.00 €</span>
				</div>
			</div>
		</div>
		<div class="coach">
			<div class="pic">
				<img src="images/1-5.png">
			</div>
			<div class="pad">
				<div class="name"> 
					<div class="row">
						<div class="s1">Moja Kravica</div> <div class="s2"> dugotrajno mleko</div> 
					</div>
					<div class="imlek">
						<img src="images/imlek.png">
					</div>
				</div>
				<div class="triple">
					<div class="tr1"> <i class="icon-repeat"></i> 789</div>
					<div class="tr2"> <i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></div>
					<div class="tr3"> <i class="icon-user"></i> 789</div>
				</div>
				<div class="trip2">
					<span class="tr21">Neto: 1l</span>
					<span class="tr22">35.7kcal</span>
					<span class="tr23">1.10 €</span>
				</div>
			</div>
		</div>
	</div>
</div>