---
title: Welcome to Middleman
---

<div class="rel">
	<div class="relcont">

		<div class="prod">
			<div class="name">
				<div class="n">
					<div class="n1">Jogood Ananas</div>
					<div class="n2">Vocni jogurt</div>
				</div>
				<div class="logo">0.70€</div>
			</div>
			<div class="pic">
				<img src="images/ananas.png">
				<div class="controls">
					<div class="t1"> <i class="icon-eye-open"></i> 789</div>
					<div class="t2"> <i class="icon-user"></i> 789</div>
					<div class="t3"> <i class="icon-shopping-cart"></i> 789</div>
				</div>
			</div>
			<div class="line">
				<div class="fab"> <span id="by">Proizvodi:</span> Imlek</div>
				<div class="tag">Jogurt</div>
			</div>
			<div class="text">Jogood je voćni jogurt sa komadićima pažljivo biranih plodova voća.</div>
		</div>

		<div class="prod">
			<div class="name">
				<div class="n">
					<div class="n1">Cok. mleko bez laktoze</div>
					<div class="n2">Cokoladni napitak</div>
				</div>
				<div class="logo">0.70€</div>
			</div>
			<div class="pic">
				<img src="images/coko.png">
				<div class="controls">
					<div class="t1"> <i class="icon-eye-open"></i> 789</div>
					<div class="t2"> <i class="icon-user"></i> 789</div>
					<div class="t3"> <i class="icon-shopping-cart"></i> 789</div>
				</div>
			</div>
			<div class="line">
				<div class="fab"> <span id="by">Proizvodi:</span> Imlek</div>
				<div class="tag">Mleko sa dodacima</div>
			</div>
			<div class="text">Sadrži sve hranljive sastojke iz mleka, ukus prave čokolade i ne izaziva tegobe u varenju.</div>
		</div>

		<div class="prod">
			<div class="name">
				<div class="n">
					<div class="n1">Sumadinka sa feferon.</div>
					<div class="n2">Topljeni sir za mazanje</div>
				</div>
				<div class="logo">0.70€</div>
			</div>
			<div class="pic">
				<img src="images/fefe.png">
				<div class="controls">
					<div class="t1"> <i class="icon-eye-open"></i> 789</div>
					<div class="t2"> <i class="icon-user"></i> 789</div>
					<div class="t3"> <i class="icon-shopping-cart"></i> 789</div>
				</div>
			</div>
			<div class="line">
				<div class="fab"> <span id="by">Proizvodi:</span> Imlek</div>
				<div class="tag">Topljeni sirevi</div>
			</div>
			<div class="text">Punomasni topljeni sir za mazanje sa 45% mlečne masti u suvoj materiji.</div>
		</div>

		<div class="prod">
			<div class="name">
				<div class="n">
					<div class="n1">Krem sir</div>
					<div class="n2">Sirni namaz</div>
				</div>
				<div class="logo">0.70€</div>
			</div>
			<div class="pic">
				<img src="images/krem.png">
				<div class="controls">
					<div class="t1"> <i class="icon-eye-open"></i> 789</div>
					<div class="t2"> <i class="icon-user"></i> 789</div>
					<div class="t3"> <i class="icon-shopping-cart"></i> 789</div>
				</div>
			</div>
			<div class="line">
				<div class="fab"> <span id="by">Proizvodi:</span> Imlek</div>
				<div class="tag">Topljeni sirevi</div>
			</div>
			<div class="text">Ekstramasni sirni namaz sa minimum 60% mlečne masti u suvoj materiji.</div>
		</div>
	</div>
</div>