---
title: Welcome to Middleman
---

<div class="time">
  <div class="timecont">
		<div class="contacting">
			<div class="cont">Contacting</div>
			<div class="stretch">
				<i class="icon-folder-close icon-large"></i><i id="igr" class="icon-glass icon-large"></i><i class="icon-bell icon-large"></i><i class="icon-user icon-large"></i><i class="icon-flag icon-large"></i>
			</div>
			<div class="plus">
				<i class="icon-plus icon-large"></i>
			</div>
			<ul>
				<li id="act"><div class="field" id="green"><span>Red Bull</span><span class="sright">2000 $</span></div></li>
				<li><div class="field" id="red"><span>Coca Cola</span><span class="sright">1000 $</span></div></li>
				<li><div class="field"><span>Red Bull</span><span class="sright">2000 $</span></div></li>
				<li><div class="field"><span>Coca Cola</span><span class="sright">1000 $</span></div></li>
				<li><div class="field" id="red"><span>Coca Cola</span><span class="sright">1000 $</span></div></li>
				<li><div class="field" id="green"><span>Red Bull</span><span class="sright">2000 $</span></div></li>
				<li><div class="field"><span>Coca Cola</span><span class="sright">1000 $</span></div></li>
				<li><div class="field"><span>Red Bull</span><span class="sright">2000 $</span></div></li>
				<li><div class="field"><span>Coca Cola</span><span class="sright">1000 $</span></div></li>
				<li><div class="field"><span>Coca Cola</span><span class="sright">1000 $</span></div></li>
				<li><div class="field"><span>Red Bull</span><span class="sright">2000 $</span></div></li>
			</ul>
		</div>
		<div class="haos">
			<div class="redbull">
				<div class="rhead">
					<div class="left">
						<div class="l1">65434567</div>
						<div class="l1">by fdsfgds fdsdf</div>
					</div>
					<div class="rb">Red Bull</div>
					<div class="right">
						<i id="igreen" class="icon-ok-sign icon-large"></i>
						<i class="icon-info-sign icon-large"></i>
					</div>
				</div>
				<div class="rbody">
					<div class="col4">
						<div class="col44"> <i class="icon-share-alt icon-large"></i><span id="large"> 4</span> <span>  send</span></div>
						<div class="col44"> <i class="icon-calendar icon-large"></i><span id="large"> 3</span> <span>  apt</span></div>
						<div class="col44"> <i class="icon-bell icon-large"></i><span id="large"> 6</span> <span>  rappel</span></div>
						<div class="col44"> <i class="icon-repeat icon-large"></i><span id="large"> 2</span> <span>  relancer</span></div>
					</div>
					<div class="buttons">
						<button class="btn6"> <i class="icon-time icon-large"></i> Next step: Apt with S. Jobs</button>
						<button class="btn"> <i class="icon-user icon-large"></i> Steve Jobs</button>
						<button class="btn" id="blue"> <i class="icon-plus icon-large"></i> Add task</button>
					</div>
				</div>
			</div>
			<div class="center">
				<button class="blue">Tommorow</button>
			</div>
			<div class="list">
				<div class="tom"> <span>Tommorow</span></div>
				<div class="now"> <span>Now</span></div>
				<div class="yes"> <span>Yesterday</span></div>
				<div class="oweek"> <span>1 week ago</span></div>
				<div class="tweek"> <span>2 week ago</span></div>
				<div class="oct"> <span>October</span></div>
			</div>
			<div class="rappel">
				<div class="r1"><span>Rappel</span> <i id="right" class="icon-bell icon-large"></i></div>
				<div class="time">14:56</div>
			</div>
			<div class="box1">
				<div class="head">
					<div class="date">01</div>
					<div class="together">
						<div class="day">thursday</div>
						<div class="month" id="l">october 2012</div>
					</div>
				</div>
				<div class="body">
					<div class="app"> <i class="icon-info-sign icon-large"></i> <span>Appointment</span></div>
					<div class="text">
						<div id="icon"><i class="icon-pencil"></i></div>
						<div class="t"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
					</div>
				</div>
			</div>
			<div class="by1">by John Doe</div>

			<div class="box2">
				<div class="head">
					<div class="date">02</div>
					<div class="day">wednesday</div>
					<div class="month" id="l">october 2012</div>
				</div>
				<div class="body">
					<img src="images/flower.png">
					<div class="linest">
						<div class="lineb">Steve Jobs</div>
						<div class="line">sj@name.com</div>
						<div class="line">45.67.89.23.09</div>
					</div>
					<div class="text">
						<div id="icon"><i class="icon-pencil"></i></div>
						<div class="t"> Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
					</div>
				</div>
			</div>
			<div class="relancer">
				<div class="r1"><i class="icon-repeat icon-large"></i><span id="rightm">Relancer</span> </div>
				<div class="time" id="tl">14:56</div>
			</div>
			<div class="bycont">
				<div class="by2">by John Doe</div>
			</div>
			<div class="blueline">
				<div class="circle1"></div>
				<div class="circle2"></div>
				<button class="nowb">Now</button>
			</div>
		</div>
	</div>
</div><!-- .welcome -->