---
title: Welcome to Middleman
---

<div class="topicres">
	<div class="topcont">
		<div class="imlek">
			<div class="top">
				<div class="name"> <span class="s1">Moja Kravica</span> <span class="s2"> dugotrajno mleko</span> <span class="s3"> 0.5%mm</span></div>
				<div class="mfc">Imlek</div>
				<img src="images/0-5.png">
				<div class="price">1.00 €</div>
				<button>Dodaj u <i class="icon-shopping-cart"></i></button>
			</div>
			<div class="top">
				<div class="name"> <span class="s1">Moja Kravica</span> <span class="s2"> dugotrajno mleko</span> <span class="s3"> 1.5%mm</span></div>
				<div class="mfc">Imlek</div>
				<img src="images/1-5.png">
				<div class="price">1.10 €</div>
				<button>Dodaj u <i class="icon-shopping-cart"></i></button>
			</div>
			<div class="top">
				<div class="name"> <span class="s1">Moja Kravica</span> <span class="s2"> dugotrajno mleko</span> <span class="s3"> 2.8%mm</span></div>
				<div class="mfc">Imlek</div>
				<img src="images/2-8.png">
				<div class="price">1.20 €</div>
				<button>Dodaj u <i class="icon-shopping-cart"></i></button>
			</div>
			<div class="top">
				<div class="name"> <span class="s1">Moja Kravica</span> <span class="s2"> dugotrajno mleko</span> <span class="s3"> 3.2%mm</span></div>
				<div class="mfc">Imlek</div>
				<img src="images/3-2.png">
				<div class="price">1.30 €</div>
				<button>Dodaj u <i class="icon-shopping-cart"></i></button>
			</div>
		</div>
		<div class="imlek2">
			<div class="top1">
				<div class="pic">
					<img src="images/0-5.png">
				</div>
				<div class="pad">
					<div class="name"><span class="s1">Moja Kravica</span><span class="s3"> 0.5%mm</span> <span class="s4"> Imlek</span></div>
					<div class="star"> <i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></div>
					<div class="fk">
						<div class="kup"> <i class="icon-ok"></i> Kup: 436</div>
						<div class="flw"> <i class="icon-signal"></i> Prat: 897</div>
					</div>
					<div class="price">
						<div class="pr1">Cena: 1.00€</div>
						<div class="pr2">PDV: 0.17€</div>
					</div>
				</div>
			</div>
			<div class="top1">
				<div class="pic">
					<img src="images/1-5.png">
				</div>
				<div class="pad">
					<div class="name"><span class="s1">Moja Kravica</span><span class="s3"> 1.5%mm</span> <span class="s4"> Imlek</span></div>
					<div class="star"> <i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></div>
					<div class="fk">
						<div class="kup"> <i class="icon-ok"></i> Kup: 436</div>
						<div class="flw"> <i class="icon-signal"></i> Prat: 897</div>
					</div>
					<div class="price">
						<div class="pr1">Cena: 1.10€</div>
						<div class="pr2">PDV: 0.18€</div>
					</div>
				</div>
			</div>
			<div class="top2">
				<div class="pic">
					<img src="images/2-8.png">
				</div>
				<div class="pad">
					<div class="name"> <span class="s1">Moja Kravica</span><span class="s4"> Imlek</span> <span class="star"> <i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></span></div>
					<div class="line"><span class="s2">Dugotrajno mleko</span> <span class="s3"> 2.8%mm</span></div>
					<div class="fk">
						<div class="kup"> <i class="icon-ok"></i> Kup: 436</div>
						<div class="like"> <i class="icon-thumbs-up"></i> 897</div>
						<div class="flw"> <i class="icon-signal"></i> Prat: 897</div>
					</div>
					<div class="price">
						<div class="pr1">Cena: 1.20€</div>
						<div class="pr2">PDV: 0.19€</div>
						<div class="pr3">Popust: 0%</div>
					</div>
				</div>
			</div>
			<div class="top2">
				<div class="pic">
					<img src="images/3-2.png">
				</div>
				<div class="pad">
					<div class="name"> <span class="s1">Moja Kravica</span><span class="s4"> Imlek</span> <span class="star"> <i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></span></div>
					<div class="line"><span class="s2">Dugotrajno mleko</span> <span class="s3"> 3.2%mm</span></div>
					<div class="fk">
						<div class="kup"> <i class="icon-ok"></i> Kup: 436</div>
						<div class="like"> <i class="icon-thumbs-up"></i> 897</div>
						<div class="flw"> <i class="icon-signal"></i> Prat: 897</div>
					</div>
					<div class="price">
						<div class="pr1">Cena: 1.30€</div>
						<div class="pr2">PDV: 0.20€</div>
						<div class="pr3">Popust: 0%</div>
					</div>
				</div>
			</div>
		</div>

		<div class="imlek3">
			<div class="top2">
				<div class="pic">
					<img src="images/0-5.png">
				</div>
				<div class="pad">
					<div class="name"> <span class="s1">Moja Kravica</span><span class="s4"> Imlek</span> <span class="star"> <i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></span></div>
					<div class="line"><span class="s2">Dugotrajno mleko</span> <span class="s3"> 0.5%mm</span></div>
					<div class="fk">
						<div class="kup"> <i class="icon-ok"></i> Kup: 436</div>
						<div class="like"> <i class="icon-thumbs-up"></i> 897</div>
						<div class="flw"> <i class="icon-signal"></i> Prat: 897</div>
					</div>
					<div class="price">
						<div class="pr1">Cena: 1.30€</div>
						<div class="pr2">PDV: 0.20€</div>
						<div class="pr3">Popust: 0%</div>
					</div>
				</div>
			</div>
			<div class="top2">
				<div class="pic">
					<img src="images/1-5.png">
				</div>
				<div class="pad">
					<div class="name"> <span class="s1">Moja Kravica</span><span class="s4"> Imlek</span> <span class="star"> <i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></span></div>
					<div class="line"><span class="s2">Dugotrajno mleko</span> <span class="s3"> 1.5%mm</span></div>
					<div class="fk">
						<div class="kup"> <i class="icon-ok"></i> Kup: 436</div>
						<div class="like"> <i class="icon-thumbs-up"></i> 897</div>
						<div class="flw"> <i class="icon-signal"></i> Prat: 897</div>
					</div>
					<div class="price">
						<div class="pr1">Cena: 1.30€</div>
						<div class="pr2">PDV: 0.20€</div>
						<div class="pr3">Popust: 0%</div>
					</div>
				</div>
			</div>
			<div class="top2">
				<div class="pic">
					<img src="images/2-8.png">
				</div>
				<div class="pad">
					<div class="name"> <span class="s1">Moja Kravica</span><span class="s4"> Imlek</span> <span class="star"> <i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></span></div>
					<div class="line"><span class="s2">Dugotrajno mleko</span> <span class="s3"> 2.8%mm</span></div>
					<div class="fk">
						<div class="kup"> <i class="icon-ok"></i> Kup: 436</div>
						<div class="like"> <i class="icon-thumbs-up"></i> 897</div>
						<div class="flw"> <i class="icon-signal"></i> Prat: 897</div>
					</div>
					<div class="price">
						<div class="pr1">Cena: 1.20€</div>
						<div class="pr2">PDV: 0.19€</div>
						<div class="pr3">Popust: 0%</div>
					</div>
				</div>
			</div>
			<div class="top2">
				<div class="pic">
					<img src="images/3-2.png">
				</div>
				<div class="pad">
					<div class="name"> <span class="s1">Moja Kravica</span><span class="s4"> Imlek</span> <span class="star"> <i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></span></div>
					<div class="line"><span class="s2">Dugotrajno mleko</span> <span class="s3"> 3.2%mm</span></div>
					<div class="fk">
						<div class="kup"> <i class="icon-ok"></i> Kup: 436</div>
						<div class="like"> <i class="icon-thumbs-up"></i> 897</div>
						<div class="flw"> <i class="icon-signal"></i> Prat: 897</div>
					</div>
					<div class="price">
						<div class="pr1">Cena: 1.30€</div>
						<div class="pr2">PDV: 0.20€</div>
						<div class="pr3">Popust: 0%</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>