---
title: Welcome to Middleman
---

<div class="act">
	<div class="actcont">
		<div class="today">TODAY</div>
		<div class="dec">15. Dec, Monday</div>
		<div class="box1">
			<img src="images/leo.jpg">
			<div class="block">
				<div class="header">
					<div class="comment">COMMENT</div>
					<div class="stat"><b>Alice</b> posted a comment on this task: <a class="ar" href="#"> Desing a New Homepage</a></div>
					<div class="time"> <i class="icon-time"></i> 1 hour ago</div>
				</div>
				<div class="body">
					<div class="text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat.</div>
				</div>
				<div class="com">Related List: <a class="ab" href="#"> Design Tasks</a></div>
			</div>
		</div>
		<div class="box2">
			<img src="images/mike.jpg">
			<div class="block">
				<div class="header">
					<div class="task">TASK</div>
					<div class="stat"><b>Clark</b> complited this task list: <a class="ag" href=""> User Profile Page - IE Bugs</a></div>
					<div class="time"> <i class="icon-time"></i> 1 hour ago</div>
				</div>
			</div>
		</div>
		<div class="box3">
			<img src="images/dona.jpg">
			<div class="block">
				<div class="header">
					<div class="file">FILE</div>
					<div class="stat"><b>Takashi</b> uploaded 5 files in this task: <a class="ar" href=""> Oppan Gangnam Style Op Op</a></div>
					<div class="time"> <i class="icon-time"></i> 1 hour ago</div>
				</div>
				<div class="body">
					<div class="pic"></div>
					<div class="pic"></div>
					<div class="pic"></div>
					<div class="pic"></div>
				</div>
				<div class="com1">Related List: <a class="ab" href="#">Korean Popstars</a></div>
			</div>
		</div>
		<div class="box4">
			<img src="images/rafa.jpg">
			<div class="block">
				<div class="header">
					<div class="list">LIST</div>
					<div class="stat"><b>Jade Lee</b> created a new list: <a class="ar" href=""> Lorem Ipsum Dolor sit Amet</a></div>
					<div class="time"> <i class="icon-time"></i> 1 hour ago</div>
				</div>
				<div class="body">
					<div class="text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
				</div>
			</div>
		</div>
		<div class="dot2"></div>
		<div class="dot"></div>
	</div>
</div>