---
title: Welcome to Middleman
---

<div class="ass">
	<div class="asscont">
		<div class="recent">RECENT ACTIVITY</div>
		<div class="block1">
			<div class="icon"> <i class="icon-chevron-up icon-large"></i></div>
			<div class="box">
				<img src="images/nikola.jpg">
				<span class="s1">chtislloyd</span><span class="s2"> promoted</span><span class="s3"> Auto-archive discussion after n-period</span><span class="s4"> #622</span>
			</div>
		</div>
		<div class="bord3"></div>
		<div class="block2">
			<div class="icon"> <i class="icon-comment icon-large"></i></div>
			<div class="box">
				<img src="images/paskal.jpg">
				<span class="s1">whale</span><span class="s2"> commented on</span><span class="s3"> Competition to award $100K in prizes to the prodict that makes the most money in 4 months</span><span class="s4"> #626</span>
			</div>
		</div>
		<div class="bord3"></div>
		<div class="cont">
			<span class="ago">1 hour ago</span><div class="small"></div>
		</div>
		<div class="block3">
			<div class="icon"> <i class="icon-comment icon-large"></i></div>
			<div class="box">
				<div class="line">
					<span class="s5">3 comments</span><span class="s2"> made on task</span><span class="s3"> Signing up for app ideas doesn't work</span><span class="s4"> #628</span><i class="icon-download icon-large"></i>
				</div>
				<img src="images/njutn.jpg"><img id="img" src="images/nikola.jpg"><img id="img" src="images/ojler.jpg">
			</div>
		</div>
		<div class="bord3"></div>
		<div class="block4">
			<div class="icon"> <i class="icon-star icon-large"></i></div>
			<div class="box">
				<img src="images/nikola.jpg">
				<span class="s1">chtislloyd</span><span class="s2"> awarded</span><span class="s1"> 11 points</span><span class="s2"> for completing</span><span class="s3"> There is no wat for returning customers to easily sign in from landing page</span><span class="s4"> #622</span>
			</div>
		</div>
		<div class="bord3"></div>
		<div class="cont">
			<span class="ago">2 hours ago</span><div class="small"></div>
		</div>
		<div class="block5">
			<div class="icon"> <i class="icon-comment icon-large"></i></div>
			<div class="box">
				<div class="line">
					<span class="s5">2 comments</span><span class="s2"> were made on</span><span class="s3"> Signing up for app ideas doesn't work</span><span class="s4"> #628</span><i class="icon-download icon-large"></i>
				</div>
				<img src="images/albert	.jpg"><img id="img" src="images/nikola.jpg">
			</div>
		</div>
		<div class="haos">
			<div class="one">
				<div class="ic"> <i class="icon-chevron-up"></i></div>
				<div class="up"> <i class="icon-chevron-up"></i></div>
				<div class="num"><b>11</b></div>
			</div>
			<div class="haos1">
				<div class="icon"> <i class="icon-refresh icon-large"></i></div>
				<div class="box">
					<img src="images/albert.jpg">
					<span class="s1">jessedodds</span><span class="s2"> awarded</span><span class="s1"> 11 points</span><span class="s2"> submitted a pull request for</span><span class="s3"> Product nama suggester should only suggest unique name</span><span class="s4"> #619</span>
				</div>
			</div>
		</div>
		<div class="bord1"></div>
		<div class="bord2"></div>
		<div class="ln"></div>
	</div>
</div>