---
title: Welcome to Middleman
---

<div class="tredesign">
	<div class="recont">
		<div class="block1">
			<div class="icon"> <i class="icon-comment"></i></div>
			<div class="box">
				<div class="inline">
					<div class="line">There's always money in the Banana Stand</div>
					<div class="name">Phil</div>
					<img src="images/dona.jpg">
				</div>
				<div class="in">
					<div class="note">Note written </div>
					<div class="note1"> 5 days ago</div>
				</div>
			</div>
		</div>
		<div class="block2">
			<div class="icon"> <i class="icon-th"></i></div>
			<div class="box">
				<div class="inline">
					<div class="line">
						<div class="line1">Pitched Enterprise plan!</div>
						<div class="line2">Yes!</div>
						<div class="line2">Closed!!!</div>
					</div>
					<div class="name">Kevin</div>
					<img src="images/leo.jpg">
				</div>
				<div class="in">
					<div class="in1">
						<div class="note">Call from </div><div class="note2">Gob Bluth</div>
					</div>
					<div class="in2">
						<div class="note3"> - 30 secs</div> <div class="note1"> 13 days ago </div>
					</div>
				</div>
			</div>
		</div>
		<div class="block3">
			<div class="icon"> <i class="icon-envelope"></i></div>
			<div class="box">
				<div class="inline">
					<div class="lineblue">Quick call this week?</div>
					<div class="name">Kevin</div>
					<div class="line2">Hi Gob, Are you available to chat this weekabout getting Bluth Company on our platform. What is...</div>
					<img src="images/leo.jpg">
				</div>
				<div class="note">Emailed God Bluth 13 day ago <i class="icon-envelope-alt"></i></div>
				<div class="icons"> <i class="icon-arrow-left"></i> <i class="icon-share-alt"></i>  <i class="icon-arrow-right"></i> <i class="icon-trash"></i></div>
			</div>
		</div>
		<div class="small"></div>
		<div class="block4">
			<div class="icon"> <i class="icon-th"></i></div>
			<div class="box">
				<div class="inline">
					<div class="name">Kevin</div>
					<img src="images/leo.jpg">
				</div>
				<div class="note">Call from Gob Bluth - 29 secs 13 days ago</div>
			</div>
		</div>
		<div class="block5">
			<div class="icon"> <i class="icon-envelope"></i></div>
			<div class="box">
				<div class="inline">
					<div class="lineblue">Information you requested</div>
					<div class="name">Kevin</div>
					<div class="line2">Hi Gob, I hope things are going well at your company, Bluth Company an i'm glad you are expressed in...</div>
					<img src="images/leo.jpg">
				</div>
				<div class="note">Emailed God Bluth 13 day ago <i class="icon-envelope-alt"></i></div>
				<div class="icons"> <i class="icon-arrow-left"></i> <i class="icon-share-alt"></i>  <i class="icon-arrow-right"></i> <i class="icon-trash"></i></div>
			</div>
		</div>
		<div class="block6">
			<div class="icon"> <i class="icon-th"></i></div>
			<div class="box">
				<div class="inline">
					<div class="line">Very excited about the product and opporunity. Wants to buy the Pro plan now. Send over email about the details and call back to get payment information.</div>
					<div class="name">Justin</div>
					<img src="images/rafa.jpg">
				</div>
				<div class="note">Called Gob Bluth - 3 mins 59 secs 13 days ago</div>
			</div>
		</div>
		<div class="block7">
			<div class="icon"><i class="icon-th"></i></div>
			<div class="box">
				<div class="inline">
					<div class="name">Kevin</div>
					<img src="images/leo.jpg">
				</div>
				<div class="note">Voicemail (27 secs) from 818-635-6350 13 days ago</div>
			</div>
		</div>
		<div class="block8">
			<div class="icon"> <i class="icon-calendar"></i></div>
			<div class="box">
				<div class="inline">
					<div class="in">
						<div class="note">Created manually </div>
						<div class="note1"> 8 months ago</div>
					</div>
					<div class="name">Nick</div>
					<img src="images/mike.jpg">
				</div>
			</div>
		</div>
	</div>
</div>