---
title: Welcome to Middleman
---

<div class="tredesign">
	<div class="recont">
		<div class="block1">
			<div class="icon"> <i class="icon-comment"></i></div>
			<div class="box">
				<div class="inline">
					<div class="line">There's always money in the Banana Stand</div>
					<div class="name">Phil</div>
					<img src="images/dona.jpg">
				</div>
				<div class="in">
					<span class="note">Note written </span>
					<span class="note1"> 5 days ago</span>
				</div>
			</div>
		</div>
		<div class="block2">
			<div class="icon"> <i class="icon-th"></i></div>
			<div class="box">
				<div class="inline">
					<div class="line">
						<div class="line1">Pitched Enterprise plan!</div>
						<div class="line2">Yes!</div>
						<div class="line2">Closed!!!</div>
					</div>
					<div class="name">Kevin</div>
					<img src="images/leo.jpg">
				</div>
				<div class="in">
						<span class="note">Call from </span><span class="note2"> Gob Bluth</span>
						<span class="note"> - 30 secs</span><span class="note1"> 13 days ago</span>
				</div>
			</div>
		</div>
		<div class="block3">
			<div class="icon"> <i class="icon-envelope"></i></div>
			<div class="box">
				<div class="inline">
					<div class="lineblue">Quick call this week?</div>
					<div class="name">Kevin</div>
					<img src="images/leo.jpg">
				</div>
				<div class="line2">Hi Gob, Are you available to chat this weekabout getting Bluth Company on our...</div>
				<div class="in">
					<span class="note">Emailed<span class="note2"> God Bluth</span><span class="note1"> 13 day ago</span> <i class="icon-envelope-alt"></i></span>
					<span class="icons"> <i class="icon-arrow-left"></i> <i class="icon-share-alt"></i>  <i class="icon-arrow-right"></i> <i class="icon-trash"></i></span>
				</div>
			</div>
		</div>
		<div class="small"></div>
		<div class="block4">
			<div class="icon"> <i class="icon-th"></i></div>
			<div class="box">
				<div class="inline">
					<div class="in1">
						<span class="note">Call from <span class="note2"> Gob Bluth</span> <span class="note"> - 29 secs</span> <span class="note1"> 13 days ago</span></span>
					</div>
					<div class="name">Kevin</div>
					<img src="images/leo.jpg">
				</div>
			</div>
		</div>
		<div class="block5">
			<div class="icon"> <i class="icon-envelope"></i></div>
			<div class="box">
				<div class="inline">
					<div class="lineblue">Information you requested</div>
					<div class="name">Kevin</div>
					<img src="images/leo.jpg">
				</div>
				<div class="line2">Hi Gob, I hope things are going well at your company, Bluth Company an i'm glad...</div>
				<div class="in">
					<span class="note">Emailed</span><span class="note2"> God Bluth</span> <span class="note1"> 13 day ago</span> <i class="icon-envelope-alt"></i>
					<span class="icons"> <i class="icon-arrow-left"></i> <i class="icon-share-alt"></i>  <i class="icon-arrow-right"></i> <i class="icon-trash"></i></span>
				</div>
			</div>
		</div>
		<div class="block6">
			<div class="icon"> <i class="icon-th"></i></div>
			<div class="box">
				<div class="inline">
					<div class="line">Very excited about the product and opporunity. Wants to buy the Pro plan now. Send over email about the details and call back to get payment information.</div>
					<div class="name">Justin</div>
					<img src="images/rafa.jpg">
				</div>
				<div class="in">
					<span class="note">Called</span><span class="note2"> Gob Bluth</span> <span class="note"> - 3 mins 59 secs</span> <span class="note1"> 13 days ago</span>
				</div>
			</div>
		</div>
		<div class="block7">
			<div class="icon"><i class="icon-th"></i></div>
			<div class="box">
				<div class="inline">
					<div class="in1">
						<span class="note3">Voicemail (27 secs)</span><span class="note"> from 818-635-6350</span> <span class="note1"> 13 days ago</span>
					</div>
					<div class="name">Kevin</div>
					<img src="images/leo.jpg">
				</div>
			</div>
		</div>
		<div class="block8">
			<div class="icon"> <i class="icon-calendar"></i></div>
			<div class="box">
				<div class="inline">
					<div class="in1">
						<span class="note">Created manually </span>
						<span class="note1"> 8 months ago</span>
					</div>
					<div class="name">Nick</div>
					<img src="images/mike.jpg">
				</div>
			</div>
		</div>
		<div class="border"></div>
		<div class="border1"></div>
		<div class="border2"></div>
		<div class="border3"></div>
		<div class="border4"></div>
		<div class="border5"></div>
		<div class="border6"></div>
		<div class="border7"></div>
		<div class="border8"></div>
	</div>
</div>