---
title: Welcome to Middleman
---

<div class="eventstream">
	<div class="stcont">
		<div class="item1">
			<div class="icon">
				<i class="icon-eye-open"></i>
			</div>
			<div class="block">
				<div class="header">
					<img class="img" src="images/b1.jpg">
					<div class="name"> <a class="a" href="#">charlie-hadden</a><div class="stat"> viewed your protip</div></div>
				</div>
				<div class="body">
					<div class="l1">Your protip</div>
					<div class="quote">Futureal Bundle</div>
					<div class="l1">has been viewed by 50 people</div>
				</div>
			</div>
		</div>
		<div class="item2">
			<div class="icon">
				<i class="icon-eye-open"></i>
			</div>
			<div class="block">
				<div class="header">
					<img class="img" src="images/b2.jpg">
					<div class="name"> <a class="a" href="#">charlie-hadden</a><div class="stat">viewed you profile</div></div>
				</div>
				<div class="body">
					<div class="line">Your profile has been viewed by 173 people</div>
				</div>
			</div>
		</div>
		<div class="item3">
			<div class="icon">
				<i class="icon-link"></i>
			</div>
			<div class="block">
				<div class="header">
					<img class="img" src="images/b3.jpg">
					<div class="name">New protip by<a class="a1" href="#"> tomasdev</a> of <img  class="i1" src="images/b4.jpg"><a class="a1" href="#"> R/GA</a></div>
					
				</div>
				<div class="body">
					<div class="line">jQuery Flickr API</div>
					<div class="bord"></div>
					<div class="line2"> <div class="ic"><i class="icon-twitter"></i> </div>Tweet this</div>
				</div>
			</div>
		</div>
		<div class="item4">
			<div class="icon">
				<i class="icon-thumbs-up"></i>
			</div>
			<div class="block">
				<div class="header">
					<img class="img" src="images/b5.jpg">
					<div class="name"> <a class="a" href="#">djeremj2</a><div class="stat">endorsed you</div></div>
				</div>
				<div class="body">
					<div class="line">Jeremy Gilbert thinks you are awesome in design, sweet!</div>
				</div>
			</div>
		</div>
		<div class="item5">
			<div class="icon">
				<i class="icon-eye-open"></i>
			</div>
			<div class="block">
				<div class="header">
					<img class="img" src="images/b6.jpg">
					<div class="name"> <a class="a" href="#">hfgadfghrwc</a><div class="stat">viewed your protip</div></div>
				</div>
				<div class="body">
					<div class="l1">Your protip</div>
					<div class="quote">CSS3 border-image tool</div>
					<div class="l2">has been viewed by 77 people</div>
				</div>
			</div>
		</div>
		<div class="blue"></div>
		<div class="blue2"></div>
		<div class="blue3"></div>
		<div class="blue4"></div>
		<div class="blue5"></div>
		<div class="blue6"></div>
	</div>
</div>