---
title: Welcome to Middleman
---

<div class="thesecret1">
	<div class="thecont">
		<div class="item">
			<div class="icon"> <div class="white"> <i class="icon-file"></i></div></div>
			<div class="field">
				<div class="pic"></div>
				<div class="state">
					<div class="text">
						<div class="p"><a href="">Zane David</a> uploaded his Model Rocket Ship assignment to <a href="">Science 8S</a></div>
					</div>
					<div class="time">12 minutes ago</div>
				</div>
			</div>
		</div>
		<div class="item">
			<div class="icon"><div class="white"> <i class="icon-comment"></i></div></div>
			<div class="field">
				<div class="pic"></div>
				<div class="state">
					<div class="text">
						<div class="p"><a href="">Callum Chapman</a> asked a question about Model Rocket Ship in <a href="">Science 8S</a></div>
					</div>
					<div class="time">17 minutes ago</div>
				</div>
			</div>
		</div><div class="item">
			<div class="icon"><div class="white"> <i class="icon-user"></i></div></div>
			<div class="field">
				<div class="pic"></div>
				<div class="state">
					<div class="text">
						<div class="p"><a href="">Terry Rised</a> added you as a friend from<a href="">Science 8S</a> & <a href="">Geography 8G</a></div>
					</div>
					<div class="time">23 minutes ago</div>
				</div>
			</div>
		</div><div class="item">
			<div class="icon"><div class="white"> <i class="icon-comment"></i></div></div>
			<div class="field">
				<div class="pic"></div>
				<div class="state">
					<div class="text">
						<div class="p"><a href="">Callum Chapman</a> left a replay to your question in <a href="">Science 8S</a></div>
					</div>
					<div class="time">26 minutes ago</div>
				</div>
			</div>
		</div><div class="item">
			<div class="icon"><div class="white"> <i class="icon-file"></i></div></div>
			<div class="field">
				<div class="pic"></div>
				<div class="state">
					<div class="text">
						<div class="p"><a href="">Zane David</a> uploaded hid Mid Term Practice Exam to <a href="">Maths 8M</a></div>
					</div>
					<div class="time">38 minutes ago</div>
				</div>
			</div>
		</div><div class="item">
			<div class="icon"><div class="white"> <i class="icon-user"></i></div></div>
			<div class="field">
				<div class="pic"></div>
				<div class="state">
					<div class="text">
						<div class="p"><a href="">Ashley Glascow</a> added you as a friend from<a href="">Maths 8M</a></div>
					</div>
					<div class="time">59 minutes ago</div>
				</div>
			</div>
		</div>
	</div>
</div>