---
title: Welcome to Middleman
---

<div class="tink1">
	<div class="tinkcont">
		<div class="first">
		  	<div class="overview">
				<div class="over">Overview</div>
				<div class="menu">
					<div class="minus"></div>
					<div class="minus"></div>
					<div class="minus"></div>
				</div>
		  	</div>
		  	<div class="expenses">
		  		<div class="blue"></div>
		  		<div class="white"></div>
		  		<div class="text">
		  			<div class="text1">EXPENSES</div>
		  			<div class="text2">21 450</div>
		  			<div class="text3">AUG 25-TODAY</div>
		  		</div>
		  	</div>
		  	<div class="black">
		  		<div class="bl">
		  			<div class="bp1">6 891 kr</div>
		  			<div class="bp2">CHECKING</div>
		  		</div>
		  		<div class="bl">
		  			<div class="bp1">23 586 kr</div>
		  			<div class="bp2">SAVINGS</div>
		  		</div>
		  	</div>	
		</div>
		<div class="rest">
	  		<div class="part1">
		  		<div class="header">TODAY</div>
		  		<div class="circle"></div>
		  		<div class="white">
		  			<div class="title">Income</div>
		  			<div class="amount">+6 500kr</div>
		  			<div class="line">Car payment fr. Kikki <i class="icon-arrow-right"></i> Checking</div>
		  		</div>
		  	</div>
	  		<div class="part2">
		  		<div class="header">THURSDAY</div>
		  		<div class="circle"></div>
		  		<div class="white">
		  			<div class="title">Low balance</div>
		  			<div class="amount">391kr</div>
		  			<div class="line">Checking, Swedbank</div>
		  		</div>
		  	</div>
	  		<div class="part3">
		  		<div class="header">SEPTEMBER 1-3</div>
		  		<div class="circle"> <i class="icon-align-center"></i></div>
		  		<div class="white">
		  			<div class="title">4 expenses</div>
		  			<div class="amount">-952 kr</div>
		  			<div class="line">McDonalds, Elgiganten, Rigoletto bio...</div>
		  		</div>
		  	</div>
	  		<div class="part4">
		  		<div class="header"></div>
		  		<div class="circle"></div>
		  		<div class="white">
		  			<div class="title"></div>
		  			<div class="amount"></div>
		  			<div class="line"></div>
		  		</div>
		  	</div>
	  		<div class="part5">
		  		<div class="header"></div>
		  		<div class="circle"></div>
		  		<div class="white">
		  			<div class="title"></div>
		  			<div class="amount"></div>
		  			<div class="line"></div>
		  		</div>
		  	</div>
	  	</div>
	  </div>
</div>