---
title: Welcome to Middleman
---

<div class="formthree">
	<div class="formcont">
		<div class="first">
			<div class="login">Login</div>
			<div class="or">or</div>
			<div class="register"> <a href="#">Register now</a></div>
		</div>
		<div class="in1">
			<div class="left-inner-addon ">
			    <i class="icon-user icon-large"></i>
			    <input type="text" class="form-control" placeholder="Username" />
			</div>		
		</div>
		<div class="in2">
			<div class="left-inner-addon ">
			    <i class="icon-key icon-large"></i>
			    <input type="text" class="form-control" placeholder="Password" />
			</div>
		</div>
		<div class="sec">
			<label>		
				<input type="checkbox" class="check" checked>
			</label>
			<div class="pass">Remember password</div>
			<button type="submit">Sign in</button>
		</div>
	</div>
</div>	