---
title: Welcome to Middleman
---

<div class="formfour">
	<div class="formcont">
		<button type="submit" class="face"><i class="icon-facebook"></i> Login with Facebook</button>
		<button type="submit" class="twit"><i class="icon-twitter"></i> Login with Twitter</button>
		<div class="or">
			<div class="line"></div>
			<div class="circle"></div>
			<div class="p">Or</div>
		</div>
		<form>
			<div class="in1">
				<div class="left-inner-addon ">
				    <input type="text" class="form-control" placeholder="username" />
				    <i class="icon-user icon-large"></i>
				</div>		
			</div>
			<div class="in2">
				<div class="left-inner-addon ">
				    <i class="icon-key icon-large"></i>
				    <input type="text" class="form-control" placeholder="password" />
				</div>
			</div>
			<div class="text">
				<label>
					<input type="checkbox" class="check">
				</label>
				<div class="remember">Remember me</div>
				<div class="forgot">Forgot your password?</div>
			</div>
			<button class="login">Login</button>
		</form>
	</div>	
</div>
