---
title: Welcome to Middleman
---

<div class="formone">
	<div class="formcont">
		<img src="images/user1.png">
		<p class="mem">Already a member?</p>
		<p class="acc">Sing in to your account</p>
		<form class="form"> 
			<input class="form-control" type="email" placeholder="Email Address"></input>
			<input class="form-control" type="password" placeholder="Password"></input>
			<div class="group">
				<label class="checkbox">
					<input type="checkbox" class="check">Remember me</input>
				</label>
				<button type="submit" class="green">Sign up</button>
			</div>
		</form>
			<button type="submit" class="blue">Connect With Facebook</button>
	</div>
</div>