---
title: Welcome to Middleman
---

<div class="formfive">
	<div class="formcont">
		<div class="first">
			<div class="gray"></div>
			<div class="line"></div>
			<div class="circle"></div>
		</div>
		<div class="start">Let's get started.</div>
		<div class="experience">This will be an amazing experience</div>
		<form>
			<div class="in1">
				<div class="left-inner-addon ">
				    <i class="icon-envelope "></i>
				    <input type="text" class="form-control" placeholder="Email" />
				</div>		
			</div>
			<div class="in2">	
				<div class="left-inner-addon ">
				    <i class="icon-lock icon-large"></i>
				    <input type="text" class="form-control" placeholder="Password" />
				</div>		
			</div>
			<button class="login">Login</button>
		</form>

	</div>	
</div>
