---
title: Welcome to Middleman
---

<div class="formtwo">
	<div class="formcont">
		<div class="header">User Login</div>
		<form class="form">
			<div class="in1">
				<div class="left-inner-addon ">
				    <i class="icon-user icon-large"></i>
				    <input type="text" class="form-control" placeholder="username" />
				</div>		
			</div>
			<div class="in2">	
				<div class="left-inner-addon ">
				    <i class="icon-key icon-large"></i>
				    <input type="text" class="form-control" placeholder="password" />
				</div>		
			</div>	
			<div class="det">
				<div class="abc">
					<div>ABC <input type="range" class="range"> ***</div>
				</div>
				<div class="details">forgot details?</div>
			</div>
			<button type="submit">Sign in</button>
		</form>
	</div>
</div>
