---
title: Welcome to Middleman
---

<div>
	<div class="basic mt">
		<p>Basic</p>
		<div class="basic1"></div>
		<div class="basic2"></div>
	</div>
	<div class="multiplerows">
		<p>Multiple rows</p>
		<div class="mr1"></div>
		<div class="mr11"></div>
		<div class="mr2"></div>
		<div class="mr10"></div>
		<div class="mr3"></div>
		<div class="mr9"></div>
		<div class="mr4"></div>
		<div class="mr8"></div>
		<div class="mr5"></div>
		<div class="mr7"></div>
		<div class="mr61"></div>
		<div class="mr62"></div>
	</div>
	<div class="nestingcolumns">
		<p>Nesting columns</p>
		<div class="nc4"></div>
		<div class="nc8">
			<p>Nested columns</p>
			<div class="nc481"></div>
			<div class="nc482"></div>
		</div>
	</div>
	<div class="tablegrid">
		<p>Table grid</p>
		<div class="table">
			<p>Table</p>
			<div class="t4"></div>
			<div class="t8"></div>
		</div>
	</div>
	<div class="shiftingcolumns">
		<p>Shifting columns</p>
		<div class="shifted"></div>
	</div>
	<div class="automaticrows">
		<p>Automatics rows</p>
		<div>
			<div class="ar"></div>
			<div class="ar"></div>
			<div class="ar"></div>
			<div class="ar"></div>
			<div class="ar"></div>
			<div class="ar"></div>
			<div class="ar"></div>
			<div class="ar"></div>
			<div class="ar"></div>
			<div class="ar"></div>
			<div class="ar"></div>
			<div class="ar"></div>
		</div>
	</div>
	<div class="mediaqueries">
		<p>Media query</p>
		<div class="media">
			<div class="mq4"></div>
			<div class="mq8"></div>
		</div>
	</div>
</div><!-- .welcome -->